# Python Exercise

This is python exercise section to test your understanding about Python. Exercise question written in bold. Provide your solution in blank cell.

### Load math module

### What is cosine of 23?

-0.5328330203333975

### Calculate 2 to the power of 6 with 2 different ways

64.0

64

### temp = 'I am learning pandas'
#### Extract 'am'  from above string

'am'

'am'

#### mylst = [1,2,3,[4,5,['Hello', True], 23.6], 34]
#### Extract 'Hello' from above List

'Hello'

### How will you remove 34 from mylst variable.

#### What is difference between tuples and List

#### Create function named "CtoFConverter", Which accept tempreture in celsius  and return fahrenheit

#### Calculate day when your birthday. Exp -  Input 1st Feb : return 32 
#### accpet bithmonth and birthday as input (Assume feb has 28 Days)

In [37]:
def birthday(month, day):
    pass

In [38]:
birthday(4, 25)

145

#### Given nested Dictionary object, Extract 'Hello' from it
mydict = {'k1', [23,56, False], 'k2' : {'k3': [1, 'Hello']}}

'Hello'