In [8]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
        border-width: thin;
    }
</style>

# MultiIndex

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('drinks.csv')

In [4]:
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

# Setting multiple column  as index

In [11]:
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [14]:
data.set_index(keys=['continent','country'], inplace=True)

In [15]:
data.head()

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,country,,,,
AS,Afghanistan,0,0,0,0.0
EU,Albania,89,132,54,4.9
AF,Algeria,25,0,14,0.7
EU,Andorra,245,138,312,12.4
AF,Angola,217,57,45,5.9

# Sorting MultiIndex

In [16]:
data.head()

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,country,,,,
AS,Afghanistan,0,0,0,0.0
EU,Albania,89,132,54,4.9
AF,Algeria,25,0,14,0.7
EU,Andorra,245,138,312,12.4
AF,Angola,217,57,45,5.9

In [17]:
data.sort_index()

                                        beer_servings  spirit_servings  \
continent country
AF        Algeria                                  25                0
          Angola                                  217               57
          Benin                                    34                4
          Botswana                                173               35
          Burkina Faso                             25                7
          Burundi                                  88                0
          Cabo Verde                              144               56
          Cameroon                                147                1
          Central African Republic                 17                2
          Chad                                     15                1
          Comoros                                   1                3
          Congo                                    76                1
          Cote d'Ivoire                            37                1
          DR Congo                                 32                3
          Djibouti                                 15               44
          Egypt                                     6                4
          Equatorial Guinea                        92                0
          Eritrea                                  18                0
          Ethiopia                                 20                3
          Gabon                                   347               98
          Gambia                                    8                0
          Ghana                                    31                3
          Guinea                                    9                0
          Guinea-Bissau                            28               31
          Kenya                                    58               22
          Lesotho                                  82               29
          Liberia                                  19              152
          Libya                                     0                0
          Madagascar                               26               15
          Malawi                                    8               11
...                                               ...              ...
SA        Ecuador                                 162               74
          Guyana                                   93              302
          Paraguay                                213              117
          Peru                                    163              160
          Suriname                                128              178
          Uruguay                                 115               35
          Venezuela                               333              100
NaN       Antigua & Barbuda                       102              128
          Bahamas                                 122              176
          Barbados                                143              173
          Belize                                  263              114
          Canada                                  240              122
          Costa Rica                              149               87
          Cuba                                     93              137
          Dominica                                 52              286
          Dominican Republic                      193              147
          El Salvador                              52               69
          Grenada                                 199              438
          Guatemala                                53               69
          Haiti                                     1              326
          Honduras                                 69               98
          Jamaica                                  82               97
          Mexico                                  238               68
          Nicaragua                                78              118
          Panama                                  285              104
          St. Kitts & Nevis                       194              205
          St. Lucia                               171              315
          St. Vincent & the Grenadines            120              221
          Trinidad & Tobago                       197              156
          USA                                     249              158

                                        wine_servings  \
continent country
AF        Algeria                                  14
          Angola                                   45
          Benin                                    13
          Botswana                                 35
          Burkina Faso                              7
          Burundi                                   0
          Cabo Verde                               16
          Cameroon                                  4
          Central African Republic                  1
          Chad                                      1
          Comoros                                   1
          Congo                                     9
          Cote d'Ivoire                             7
          DR Congo                                  1
          Djibouti                                  3
          Egypt                                     1
          Equatorial Guinea                       233
          Eritrea                                   0
          Ethiopia                                  0
          Gabon                                    59
          Gambia                                    1
          Ghana                                    10
          Guinea                                    2
          Guinea-Bissau                            21
          Kenya                                     2
          Lesotho                                   0
          Liberia                                   2
          Libya                                     0
          Madagascar                                4
          Malawi                                    1
...                                               ...
SA        Ecuador                                   3
          Guyana                                    1
          Paraguay                                 74
          Peru                                     21
          Suriname                                  7
          Uruguay                                 220
          Venezuela                                 3
NaN       Antigua & Barbuda                        45
          Bahamas                                  51
          Barbados                                 36
          Belize                                    8
          Canada                                  100
          Costa Rica                               11
          Cuba                                      5
          Dominica                                 26
          Dominican Republic                        9
          El Salvador                               2
          Grenada                                  28
          Guatemala                                 2
          Haiti                                     1
          Honduras                                  2
          Jamaica                                   9
          Mexico                                    5
          Nicaragua                                 1
          Panama                                   18
          St. Kitts & Nevis                        32
          St. Lucia                                71
          St. Vincent & the Grenadines             11
          Trinidad & Tobago                         7
          USA                                      84

                                        total_litres_of_pure_alcohol
continent country
AF        Algeria                                                0.7
          Angola                                                 5.9
          Benin                                                  1.1
          Botswana                                               5.4
          Burkina Faso                                           4.3
          Burundi                                                6.3
          Cabo Verde                                             4.0
          Cameroon                                               5.8
          Central African Republic                               1.8
          Chad                                                   0.4
          Comoros                                                0.1
          Congo                                                  1.7
          Cote d'Ivoire                                          4.0
          DR Congo                                               2.3
          Djibouti                                               1.1
          Egypt                                                  0.2
          Equatorial Guinea                                      5.8
          Eritrea                                                0.5
          Ethiopia                                               0.7
          Gabon                                                  8.9
          Gambia                                                 2.4
          Ghana                                                  1.8
          Guinea                                                 0.2
          Guinea-Bissau                                          2.5
          Kenya                                                  1.8
          Lesotho                                                2.8
          Liberia                                                3.1
          Libya                                                  0.0
          Madagascar                                             0.8
          Malawi                                                 1.5
...                                                              ...
SA        Ecuador                                                4.2
          Guyana                                                 7.1
          Paraguay                                               7.3
          Peru                                                   6.1
          Suriname                                               5.6
          Uruguay                                                6.6
          Venezuela                                              7.7
NaN       Antigua & Barbuda                                      4.9
          Bahamas                                                6.3
          Barbados                                               6.3
          Belize                                                 6.8
          Canada                                                 8.2
          Costa Rica                                             4.4
          Cuba                                                   4.2
          Dominica                                               6.6
          Dominican Republic                                     6.2
          El Salvador                                            2.2
          Grenada                                               11.9
          Guatemala                                              2.2
          Haiti                                                  5.9
          Honduras                                               3.0
          Jamaica                                                3.4
          Mexico                                                 5.5
          Nicaragua                                              3.5
          Panama                                                 7.2
          St. Kitts & Nevis                                      7.7
          St. Lucia                                             10.1
          St. Vincent & the Grenadines                           6.3
          Trinidad & Tobago                                      6.4
          USA                                                    8.7

[193 rows x 4 columns]

In [18]:
data.sort_index(ascending=True)

                                        beer_servings  spirit_servings  \
continent country
AF        Algeria                                  25                0
          Angola                                  217               57
          Benin                                    34                4
          Botswana                                173               35
          Burkina Faso                             25                7
          Burundi                                  88                0
          Cabo Verde                              144               56
          Cameroon                                147                1
          Central African Republic                 17                2
          Chad                                     15                1
          Comoros                                   1                3
          Congo                                    76                1
          Cote d'Ivoire                            37                1
          DR Congo                                 32                3
          Djibouti                                 15               44
          Egypt                                     6                4
          Equatorial Guinea                        92                0
          Eritrea                                  18                0
          Ethiopia                                 20                3
          Gabon                                   347               98
          Gambia                                    8                0
          Ghana                                    31                3
          Guinea                                    9                0
          Guinea-Bissau                            28               31
          Kenya                                    58               22
          Lesotho                                  82               29
          Liberia                                  19              152
          Libya                                     0                0
          Madagascar                               26               15
          Malawi                                    8               11
...                                               ...              ...
SA        Ecuador                                 162               74
          Guyana                                   93              302
          Paraguay                                213              117
          Peru                                    163              160
          Suriname                                128              178
          Uruguay                                 115               35
          Venezuela                               333              100
NaN       Antigua & Barbuda                       102              128
          Bahamas                                 122              176
          Barbados                                143              173
          Belize                                  263              114
          Canada                                  240              122
          Costa Rica                              149               87
          Cuba                                     93              137
          Dominica                                 52              286
          Dominican Republic                      193              147
          El Salvador                              52               69
          Grenada                                 199              438
          Guatemala                                53               69
          Haiti                                     1              326
          Honduras                                 69               98
          Jamaica                                  82               97
          Mexico                                  238               68
          Nicaragua                                78              118
          Panama                                  285              104
          St. Kitts & Nevis                       194              205
          St. Lucia                               171              315
          St. Vincent & the Grenadines            120              221
          Trinidad & Tobago                       197              156
          USA                                     249              158

                                        wine_servings  \
continent country
AF        Algeria                                  14
          Angola                                   45
          Benin                                    13
          Botswana                                 35
          Burkina Faso                              7
          Burundi                                   0
          Cabo Verde                               16
          Cameroon                                  4
          Central African Republic                  1
          Chad                                      1
          Comoros                                   1
          Congo                                     9
          Cote d'Ivoire                             7
          DR Congo                                  1
          Djibouti                                  3
          Egypt                                     1
          Equatorial Guinea                       233
          Eritrea                                   0
          Ethiopia                                  0
          Gabon                                    59
          Gambia                                    1
          Ghana                                    10
          Guinea                                    2
          Guinea-Bissau                            21
          Kenya                                     2
          Lesotho                                   0
          Liberia                                   2
          Libya                                     0
          Madagascar                                4
          Malawi                                    1
...                                               ...
SA        Ecuador                                   3
          Guyana                                    1
          Paraguay                                 74
          Peru                                     21
          Suriname                                  7
          Uruguay                                 220
          Venezuela                                 3
NaN       Antigua & Barbuda                        45
          Bahamas                                  51
          Barbados                                 36
          Belize                                    8
          Canada                                  100
          Costa Rica                               11
          Cuba                                      5
          Dominica                                 26
          Dominican Republic                        9
          El Salvador                               2
          Grenada                                  28
          Guatemala                                 2
          Haiti                                     1
          Honduras                                  2
          Jamaica                                   9
          Mexico                                    5
          Nicaragua                                 1
          Panama                                   18
          St. Kitts & Nevis                        32
          St. Lucia                                71
          St. Vincent & the Grenadines             11
          Trinidad & Tobago                         7
          USA                                      84

                                        total_litres_of_pure_alcohol
continent country
AF        Algeria                                                0.7
          Angola                                                 5.9
          Benin                                                  1.1
          Botswana                                               5.4
          Burkina Faso                                           4.3
          Burundi                                                6.3
          Cabo Verde                                             4.0
          Cameroon                                               5.8
          Central African Republic                               1.8
          Chad                                                   0.4
          Comoros                                                0.1
          Congo                                                  1.7
          Cote d'Ivoire                                          4.0
          DR Congo                                               2.3
          Djibouti                                               1.1
          Egypt                                                  0.2
          Equatorial Guinea                                      5.8
          Eritrea                                                0.5
          Ethiopia                                               0.7
          Gabon                                                  8.9
          Gambia                                                 2.4
          Ghana                                                  1.8
          Guinea                                                 0.2
          Guinea-Bissau                                          2.5
          Kenya                                                  1.8
          Lesotho                                                2.8
          Liberia                                                3.1
          Libya                                                  0.0
          Madagascar                                             0.8
          Malawi                                                 1.5
...                                                              ...
SA        Ecuador                                                4.2
          Guyana                                                 7.1
          Paraguay                                               7.3
          Peru                                                   6.1
          Suriname                                               5.6
          Uruguay                                                6.6
          Venezuela                                              7.7
NaN       Antigua & Barbuda                                      4.9
          Bahamas                                                6.3
          Barbados                                               6.3
          Belize                                                 6.8
          Canada                                                 8.2
          Costa Rica                                             4.4
          Cuba                                                   4.2
          Dominica                                               6.6
          Dominican Republic                                     6.2
          El Salvador                                            2.2
          Grenada                                               11.9
          Guatemala                                              2.2
          Haiti                                                  5.9
          Honduras                                               3.0
          Jamaica                                                3.4
          Mexico                                                 5.5
          Nicaragua                                              3.5
          Panama                                                 7.2
          St. Kitts & Nevis                                      7.7
          St. Lucia                                             10.1
          St. Vincent & the Grenadines                           6.3
          Trinidad & Tobago                                      6.4
          USA                                                    8.7

[193 rows x 4 columns]

In [19]:
data.sort_index(ascending=False)

                                        beer_servings  spirit_servings  \
continent country
SA        Venezuela                               333              100
          Uruguay                                 115               35
          Suriname                                128              178
          Peru                                    163              160
          Paraguay                                213              117
          Guyana                                   93              302
          Ecuador                                 162               74
          Colombia                                159               76
          Chile                                   130              124
          Brazil                                  245              145
          Bolivia                                 167               41
          Argentina                               193               25
OC        Vanuatu                                  21               18
          Tuvalu                                    6               41
          Tonga                                    36               21
          Solomon Islands                          56               11
          Samoa                                   105               18
          Papua New Guinea                         44               39
          Palau                                   306               63
          Niue                                    188              200
          New Zealand                             203               79
          Nauru                                    49                0
          Micronesia                               62               50
          Marshall Islands                          0                0
          Kiribati                                 21               34
          Fiji                                     77               35
          Cook Islands                              0              254
          Australia                               261               72
EU        United Kingdom                          219              126
          Ukraine                                 206              237
...                                               ...              ...
AF        Cabo Verde                              144               56
          Burundi                                  88                0
          Burkina Faso                             25                7
          Botswana                                173               35
          Benin                                    34                4
          Angola                                  217               57
          Algeria                                  25                0
NaN       USA                                     249              158
          Trinidad & Tobago                       197              156
          St. Vincent & the Grenadines            120              221
          St. Lucia                               171              315
          St. Kitts & Nevis                       194              205
          Panama                                  285              104
          Nicaragua                                78              118
          Mexico                                  238               68
          Jamaica                                  82               97
          Honduras                                 69               98
          Haiti                                     1              326
          Guatemala                                53               69
          Grenada                                 199              438
          El Salvador                              52               69
          Dominican Republic                      193              147
          Dominica                                 52              286
          Cuba                                     93              137
          Costa Rica                              149               87
          Canada                                  240              122
          Belize                                  263              114
          Barbados                                143              173
          Bahamas                                 122              176
          Antigua & Barbuda                       102              128

                                        wine_servings  \
continent country
SA        Venezuela                                 3
          Uruguay                                 220
          Suriname                                  7
          Peru                                     21
          Paraguay                                 74
          Guyana                                    1
          Ecuador                                   3
          Colombia                                  3
          Chile                                   172
          Brazil                                   16
          Bolivia                                   8
          Argentina                               221
OC        Vanuatu                                  11
          Tuvalu                                    9
          Tonga                                     5
          Solomon Islands                           1
          Samoa                                    24
          Papua New Guinea                          1
          Palau                                    23
          Niue                                      7
          New Zealand                             175
          Nauru                                     8
          Micronesia                               18
          Marshall Islands                          0
          Kiribati                                  1
          Fiji                                      1
          Cook Islands                             74
          Australia                               212
EU        United Kingdom                          195
          Ukraine                                  45
...                                               ...
AF        Cabo Verde                               16
          Burundi                                   0
          Burkina Faso                              7
          Botswana                                 35
          Benin                                    13
          Angola                                   45
          Algeria                                  14
NaN       USA                                      84
          Trinidad & Tobago                         7
          St. Vincent & the Grenadines             11
          St. Lucia                                71
          St. Kitts & Nevis                        32
          Panama                                   18
          Nicaragua                                 1
          Mexico                                    5
          Jamaica                                   9
          Honduras                                  2
          Haiti                                     1
          Guatemala                                 2
          Grenada                                  28
          El Salvador                               2
          Dominican Republic                        9
          Dominica                                 26
          Cuba                                      5
          Costa Rica                               11
          Canada                                  100
          Belize                                    8
          Barbados                                 36
          Bahamas                                  51
          Antigua & Barbuda                        45

                                        total_litres_of_pure_alcohol
continent country
SA        Venezuela                                              7.7
          Uruguay                                                6.6
          Suriname                                               5.6
          Peru                                                   6.1
          Paraguay                                               7.3
          Guyana                                                 7.1
          Ecuador                                                4.2
          Colombia                                               4.2
          Chile                                                  7.6
          Brazil                                                 7.2
          Bolivia                                                3.8
          Argentina                                              8.3
OC        Vanuatu                                                0.9
          Tuvalu                                                 1.0
          Tonga                                                  1.1
          Solomon Islands                                        1.2
          Samoa                                                  2.6
          Papua New Guinea                                       1.5
          Palau                                                  6.9
          Niue                                                   7.0
          New Zealand                                            9.3
          Nauru                                                  1.0
          Micronesia                                             2.3
          Marshall Islands                                       0.0
          Kiribati                                               1.0
          Fiji                                                   2.0
          Cook Islands                                           5.9
          Australia                                             10.4
EU        United Kingdom                                        10.4
          Ukraine                                                8.9
...                                                              ...
AF        Cabo Verde                                             4.0
          Burundi                                                6.3
          Burkina Faso                                           4.3
          Botswana                                               5.4
          Benin                                                  1.1
          Angola                                                 5.9
          Algeria                                                0.7
NaN       USA                                                    8.7
          Trinidad & Tobago                                      6.4
          St. Vincent & the Grenadines                           6.3
          St. Lucia                                             10.1
          St. Kitts & Nevis                                      7.7
          Panama                                                 7.2
          Nicaragua                                              3.5
          Mexico                                                 5.5
          Jamaica                                                3.4
          Honduras                                               3.0
          Haiti                                                  5.9
          Guatemala                                              2.2
          Grenada                                               11.9
          El Salvador                                            2.2
          Dominican Republic                                     6.2
          Dominica                                               6.6
          Cuba                                                   4.2
          Costa Rica                                             4.4
          Canada                                                 8.2
          Belize                                                 6.8
          Barbados                                               6.3
          Bahamas                                                6.3
          Antigua & Barbuda                                      4.9

[193 rows x 4 columns]

In [20]:
data.sort_index(ascending=[True,False])

                                        beer_servings  spirit_servings  \
continent country
AF        Zimbabwe                                 64               18
          Zambia                                   32               19
          Uganda                                   45                9
          Tunisia                                  51                3
          Togo                                     36                2
          Tanzania                                 36                6
          Swaziland                                90                2
          Sudan                                     8               13
          South Africa                            225               76
          Somalia                                   0                0
          Sierra Leone                             25                3
          Seychelles                              157               25
          Senegal                                   9                1
          Sao Tome & Principe                      56               38
          Rwanda                                   43                2
          Nigeria                                  42                5
          Niger                                     3                2
          Namibia                                 376                3
          Mozambique                               47               18
          Morocco                                  12                6
          Mauritius                                98               31
          Mauritania                                0                0
          Mali                                      5                1
          Malawi                                    8               11
          Madagascar                               26               15
          Libya                                     0                0
          Liberia                                  19              152
          Lesotho                                  82               29
          Kenya                                    58               22
          Guinea-Bissau                            28               31
...                                               ...              ...
SA        Guyana                                   93              302
          Ecuador                                 162               74
          Colombia                                159               76
          Chile                                   130              124
          Brazil                                  245              145
          Bolivia                                 167               41
          Argentina                               193               25
NaN       USA                                     249              158
          Trinidad & Tobago                       197              156
          St. Vincent & the Grenadines            120              221
          St. Lucia                               171              315
          St. Kitts & Nevis                       194              205
          Panama                                  285              104
          Nicaragua                                78              118
          Mexico                                  238               68
          Jamaica                                  82               97
          Honduras                                 69               98
          Haiti                                     1              326
          Guatemala                                53               69
          Grenada                                 199              438
          El Salvador                              52               69
          Dominican Republic                      193              147
          Dominica                                 52              286
          Cuba                                     93              137
          Costa Rica                              149               87
          Canada                                  240              122
          Belize                                  263              114
          Barbados                                143              173
          Bahamas                                 122              176
          Antigua & Barbuda                       102              128

                                        wine_servings  \
continent country
AF        Zimbabwe                                  4
          Zambia                                    4
          Uganda                                    0
          Tunisia                                  20
          Togo                                     19
          Tanzania                                  1
          Swaziland                                 2
          Sudan                                     0
          South Africa                             81
          Somalia                                   0
          Sierra Leone                              2
          Seychelles                               51
          Senegal                                   7
          Sao Tome & Principe                     140
          Rwanda                                    0
          Nigeria                                   2
          Niger                                     1
          Namibia                                   1
          Mozambique                                5
          Morocco                                  10
          Mauritius                                18
          Mauritania                                0
          Mali                                      1
          Malawi                                    1
          Madagascar                                4
          Libya                                     0
          Liberia                                   2
          Lesotho                                   0
          Kenya                                     2
          Guinea-Bissau                            21
...                                               ...
SA        Guyana                                    1
          Ecuador                                   3
          Colombia                                  3
          Chile                                   172
          Brazil                                   16
          Bolivia                                   8
          Argentina                               221
NaN       USA                                      84
          Trinidad & Tobago                         7
          St. Vincent & the Grenadines             11
          St. Lucia                                71
          St. Kitts & Nevis                        32
          Panama                                   18
          Nicaragua                                 1
          Mexico                                    5
          Jamaica                                   9
          Honduras                                  2
          Haiti                                     1
          Guatemala                                 2
          Grenada                                  28
          El Salvador                               2
          Dominican Republic                        9
          Dominica                                 26
          Cuba                                      5
          Costa Rica                               11
          Canada                                  100
          Belize                                    8
          Barbados                                 36
          Bahamas                                  51
          Antigua & Barbuda                        45

                                        total_litres_of_pure_alcohol
continent country
AF        Zimbabwe                                               4.7
          Zambia                                                 2.5
          Uganda                                                 8.3
          Tunisia                                                1.3
          Togo                                                   1.3
          Tanzania                                               5.7
          Swaziland                                              4.7
          Sudan                                                  1.7
          South Africa                                           8.2
          Somalia                                                0.0
          Sierra Leone                                           6.7
          Seychelles                                             4.1
          Senegal                                                0.3
          Sao Tome & Principe                                    4.2
          Rwanda                                                 6.8
          Nigeria                                                9.1
          Niger                                                  0.1
          Namibia                                                6.8
          Mozambique                                             1.3
          Morocco                                                0.5
          Mauritius                                              2.6
          Mauritania                                             0.0
          Mali                                                   0.6
          Malawi                                                 1.5
          Madagascar                                             0.8
          Libya                                                  0.0
          Liberia                                                3.1
          Lesotho                                                2.8
          Kenya                                                  1.8
          Guinea-Bissau                                          2.5
...                                                              ...
SA        Guyana                                                 7.1
          Ecuador                                                4.2
          Colombia                                               4.2
          Chile                                                  7.6
          Brazil                                                 7.2
          Bolivia                                                3.8
          Argentina                                              8.3
NaN       USA                                                    8.7
          Trinidad & Tobago                                      6.4
          St. Vincent & the Grenadines                           6.3
          St. Lucia                                             10.1
          St. Kitts & Nevis                                      7.7
          Panama                                                 7.2
          Nicaragua                                              3.5
          Mexico                                                 5.5
          Jamaica                                                3.4
          Honduras                                               3.0
          Haiti                                                  5.9
          Guatemala                                              2.2
          Grenada                                               11.9
          El Salvador                                            2.2
          Dominican Republic                                     6.2
          Dominica                                               6.6
          Cuba                                                   4.2
          Costa Rica                                             4.4
          Canada                                                 8.2
          Belize                                                 6.8
          Barbados                                               6.3
          Bahamas                                                6.3
          Antigua & Barbuda                                      4.9

[193 rows x 4 columns]

In [21]:
data.sort_index(ascending=[False,True])

                                        beer_servings  spirit_servings  \
continent country
SA        Argentina                               193               25
          Bolivia                                 167               41
          Brazil                                  245              145
          Chile                                   130              124
          Colombia                                159               76
          Ecuador                                 162               74
          Guyana                                   93              302
          Paraguay                                213              117
          Peru                                    163              160
          Suriname                                128              178
          Uruguay                                 115               35
          Venezuela                               333              100
OC        Australia                               261               72
          Cook Islands                              0              254
          Fiji                                     77               35
          Kiribati                                 21               34
          Marshall Islands                          0                0
          Micronesia                               62               50
          Nauru                                    49                0
          New Zealand                             203               79
          Niue                                    188              200
          Palau                                   306               63
          Papua New Guinea                         44               39
          Samoa                                   105               18
          Solomon Islands                          56               11
          Tonga                                    36               21
          Tuvalu                                    6               41
          Vanuatu                                  21               18
EU        Albania                                  89              132
          Andorra                                 245              138
...                                               ...              ...
AF        Swaziland                                90                2
          Tanzania                                 36                6
          Togo                                     36                2
          Tunisia                                  51                3
          Uganda                                   45                9
          Zambia                                   32               19
          Zimbabwe                                 64               18
NaN       Antigua & Barbuda                       102              128
          Bahamas                                 122              176
          Barbados                                143              173
          Belize                                  263              114
          Canada                                  240              122
          Costa Rica                              149               87
          Cuba                                     93              137
          Dominica                                 52              286
          Dominican Republic                      193              147
          El Salvador                              52               69
          Grenada                                 199              438
          Guatemala                                53               69
          Haiti                                     1              326
          Honduras                                 69               98
          Jamaica                                  82               97
          Mexico                                  238               68
          Nicaragua                                78              118
          Panama                                  285              104
          St. Kitts & Nevis                       194              205
          St. Lucia                               171              315
          St. Vincent & the Grenadines            120              221
          Trinidad & Tobago                       197              156
          USA                                     249              158

                                        wine_servings  \
continent country
SA        Argentina                               221
          Bolivia                                   8
          Brazil                                   16
          Chile                                   172
          Colombia                                  3
          Ecuador                                   3
          Guyana                                    1
          Paraguay                                 74
          Peru                                     21
          Suriname                                  7
          Uruguay                                 220
          Venezuela                                 3
OC        Australia                               212
          Cook Islands                             74
          Fiji                                      1
          Kiribati                                  1
          Marshall Islands                          0
          Micronesia                               18
          Nauru                                     8
          New Zealand                             175
          Niue                                      7
          Palau                                    23
          Papua New Guinea                          1
          Samoa                                    24
          Solomon Islands                           1
          Tonga                                     5
          Tuvalu                                    9
          Vanuatu                                  11
EU        Albania                                  54
          Andorra                                 312
...                                               ...
AF        Swaziland                                 2
          Tanzania                                  1
          Togo                                     19
          Tunisia                                  20
          Uganda                                    0
          Zambia                                    4
          Zimbabwe                                  4
NaN       Antigua & Barbuda                        45
          Bahamas                                  51
          Barbados                                 36
          Belize                                    8
          Canada                                  100
          Costa Rica                               11
          Cuba                                      5
          Dominica                                 26
          Dominican Republic                        9
          El Salvador                               2
          Grenada                                  28
          Guatemala                                 2
          Haiti                                     1
          Honduras                                  2
          Jamaica                                   9
          Mexico                                    5
          Nicaragua                                 1
          Panama                                   18
          St. Kitts & Nevis                        32
          St. Lucia                                71
          St. Vincent & the Grenadines             11
          Trinidad & Tobago                         7
          USA                                      84

                                        total_litres_of_pure_alcohol
continent country
SA        Argentina                                              8.3
          Bolivia                                                3.8
          Brazil                                                 7.2
          Chile                                                  7.6
          Colombia                                               4.2
          Ecuador                                                4.2
          Guyana                                                 7.1
          Paraguay                                               7.3
          Peru                                                   6.1
          Suriname                                               5.6
          Uruguay                                                6.6
          Venezuela                                              7.7
OC        Australia                                             10.4
          Cook Islands                                           5.9
          Fiji                                                   2.0
          Kiribati                                               1.0
          Marshall Islands                                       0.0
          Micronesia                                             2.3
          Nauru                                                  1.0
          New Zealand                                            9.3
          Niue                                                   7.0
          Palau                                                  6.9
          Papua New Guinea                                       1.5
          Samoa                                                  2.6
          Solomon Islands                                        1.2
          Tonga                                                  1.1
          Tuvalu                                                 1.0
          Vanuatu                                                0.9
EU        Albania                                                4.9
          Andorra                                               12.4
...                                                              ...
AF        Swaziland                                              4.7
          Tanzania                                               5.7
          Togo                                                   1.3
          Tunisia                                                1.3
          Uganda                                                 8.3
          Zambia                                                 2.5
          Zimbabwe                                               4.7
NaN       Antigua & Barbuda                                      4.9
          Bahamas                                                6.3
          Barbados                                               6.3
          Belize                                                 6.8
          Canada                                                 8.2
          Costa Rica                                             4.4
          Cuba                                                   4.2
          Dominica                                               6.6
          Dominican Republic                                     6.2
          El Salvador                                            2.2
          Grenada                                               11.9
          Guatemala                                              2.2
          Haiti                                                  5.9
          Honduras                                               3.0
          Jamaica                                                3.4
          Mexico                                                 5.5
          Nicaragua                                              3.5
          Panama                                                 7.2
          St. Kitts & Nevis                                      7.7
          St. Lucia                                             10.1
          St. Vincent & the Grenadines                           6.3
          Trinidad & Tobago                                      6.4
          USA                                                    8.7

[193 rows x 4 columns]

# Index -  Meta Information

In [22]:
data.head()

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,country,,,,
AS,Afghanistan,0,0,0,0.0
EU,Albania,89,132,54,4.9
AF,Algeria,25,0,14,0.7
EU,Andorra,245,138,312,12.4
AF,Angola,217,57,45,5.9

In [23]:
data.index

MultiIndex(levels=[['AF', 'AS', 'EU', 'OC', 'SA'], ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia-Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Cote d'Ivoire', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'DR Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'San Marino', 'Sao Tome & Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'St. Kitts & Nevis', 'St. Lucia', 'St. Vincent & the Grenadines', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad & Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'USA', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']],
           labels=[[1, 2, 0, 2, 0, -1, 4, 2, 3, 2, 2, -1, 1, 1, -1, 2, 2, -1, 0, 1, 4, 2, 0, 4, 1, 2, 0, 0, 0, 0, 1, 0, -1, 0, 0, 4, 1, 4, 0, 0, 3, -1, 2, -1, 2, 2, 1, 0, 2, 0, -1, -1, 4, 0, -1, 0, 0, 2, 0, 3, 2, 2, 0, 0, 2, 2, 0, 2, -1, -1, 0, 0, 4, -1, -1, 2, 2, 1, 1, 1, 1, 2, 1, 2, -1, 1, 1, 1, 0, 3, 1, 1, 1, 2, 1, 0, 0, 0, 2, 2, 0, 0, 1, 1, 0, 2, 3, 0, 0, -1, 3, 2, 1, 2, 0, 0, 1, 0, 3, 1, 2, 3, -1, 0, 0, 3, 2, 1, 1, 3, -1, 3, 4, 4, 1, 2, 2, 1, 1, 2, 2, 1, 0, -1, -1, -1, 3, 2, 0, 1, 0, 2, 0, 0, 1, 2, 2, 3, 0, 0, 2, 1, 0, 4, 0, 2, 2, 1, 1, 1, 2, 1, 0, 3, -1, 0, 1, 1, 3, 0, 2, 1, 2, 0, -1, 4, 1, 3, 4, 1, 1, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 41, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 127, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 157, 111, 140, 141, 142, 160, 161, 162, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 158, 159, 163, 164, 165, 166, 167, 168, 169, 171, 99, 172, 173, 174, 175, 176, 177, 178, 179, 181, 182, 183, 184, 170, 180, 185, 186, 187, 188, 189, 190, 191, 192]],
           names=['continent', 'country'])

In [24]:
data.index.names

FrozenList(['continent', 'country'])

In [25]:
type(data.index)

pandas.core.indexes.multi.MultiIndex

In [26]:
data.index[0]

('AS', 'Afghanistan')

In [27]:
data.index[1]

('EU', 'Albania')

In [28]:
len(data)

193

In [29]:
data.index[192]

('AF', 'Zimbabwe')

In [30]:
data.index[193]

IndexError: index 193 is out of bounds for axis 0 with size 193

In [31]:
data.index.get_level_values(0)

Index(['AS', 'EU', 'AF', 'EU', 'AF',  nan, 'SA', 'EU', 'OC', 'EU',
       ...
       'AF',  nan, 'SA', 'AS', 'OC', 'SA', 'AS', 'AS', 'AF', 'AF'],
      dtype='object', name='continent', length=193)

In [32]:
data.index.get_level_values(1)

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [33]:
data.index.get_level_values('country')

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [34]:
data.index.get_level_values('continent')

Index(['AS', 'EU', 'AF', 'EU', 'AF',  nan, 'SA', 'EU', 'OC', 'EU',
       ...
       'AF',  nan, 'SA', 'AS', 'OC', 'SA', 'AS', 'AS', 'AF', 'AF'],
      dtype='object', name='continent', length=193)

# Change Index names

In [35]:
data.head()

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,country,,,,
AS,Afghanistan,0,0,0,0.0
EU,Albania,89,132,54,4.9
AF,Algeria,25,0,14,0.7
EU,Andorra,245,138,312,12.4
AF,Angola,217,57,45,5.9

In [36]:
data.index.set_names(names=['CONTINENT', 'COUNTRY'])

MultiIndex(levels=[['AF', 'AS', 'EU', 'OC', 'SA'], ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia-Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Cote d'Ivoire', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'DR Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'San Marino', 'Sao Tome & Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'St. Kitts & Nevis', 'St. Lucia', 'St. Vincent & the Grenadines', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad & Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'USA', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']],
           labels=[[1, 2, 0, 2, 0, -1, 4, 2, 3, 2, 2, -1, 1, 1, -1, 2, 2, -1, 0, 1, 4, 2, 0, 4, 1, 2, 0, 0, 0, 0, 1, 0, -1, 0, 0, 4, 1, 4, 0, 0, 3, -1, 2, -1, 2, 2, 1, 0, 2, 0, -1, -1, 4, 0, -1, 0, 0, 2, 0, 3, 2, 2, 0, 0, 2, 2, 0, 2, -1, -1, 0, 0, 4, -1, -1, 2, 2, 1, 1, 1, 1, 2, 1, 2, -1, 1, 1, 1, 0, 3, 1, 1, 1, 2, 1, 0, 0, 0, 2, 2, 0, 0, 1, 1, 0, 2, 3, 0, 0, -1, 3, 2, 1, 2, 0, 0, 1, 0, 3, 1, 2, 3, -1, 0, 0, 3, 2, 1, 1, 3, -1, 3, 4, 4, 1, 2, 2, 1, 1, 2, 2, 1, 0, -1, -1, -1, 3, 2, 0, 1, 0, 2, 0, 0, 1, 2, 2, 3, 0, 0, 2, 1, 0, 4, 0, 2, 2, 1, 1, 1, 2, 1, 0, 3, -1, 0, 1, 1, 3, 0, 2, 1, 2, 0, -1, 4, 1, 3, 4, 1, 1, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 41, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 127, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 157, 111, 140, 141, 142, 160, 161, 162, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 158, 159, 163, 164, 165, 166, 167, 168, 169, 171, 99, 172, 173, 174, 175, 176, 177, 178, 179, 181, 182, 183, 184, 170, 180, 185, 186, 187, 188, 189, 190, 191, 192]],
           names=['CONTINENT', 'COUNTRY'])

# Fetch data from MultiIndex Dataframe

In [ ]:
loc iloc ix

In [37]:
data.head()

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,country,,,,
AS,Afghanistan,0,0,0,0.0
EU,Albania,89,132,54,4.9
AF,Algeria,25,0,14,0.7
EU,Andorra,245,138,312,12.4
AF,Angola,217,57,45,5.9

In [38]:
data.loc['AS']

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
country,,,,
Afghanistan,0,0,0,0.0
Bahrain,42,63,7,2.0
Bangladesh,0,0,0,0.0
Bhutan,23,0,0,0.4
Brunei,31,2,1,0.6
Cambodia,57,65,1,2.2
China,79,192,8,5.0
North Korea,0,0,0,0.0
India,9,114,0,2.2
Indonesia,5,1,0,0.1
Iran,0,0,0,0.0
Iraq,9,3,0,0.2
Israel,63,69,9,2.5
Japan,77,202,16,7.0
Jordan,6,21,1,0.5
Kazakhstan,124,246,12,6.8
Kuwait,0,0,0,0.0
Kyrgyzstan,31,97,6,2.4
Laos,62,0,123,6.2
Lebanon,20,55,31,1.9
Malaysia,13,4,0,0.3
Maldives,0,0,0,0.0
Mongolia,77,189,8,4.9
Myanmar,5,1,0,0.1
Nepal,5,6,0,0.2
Oman,22,16,1,0.7
Pakistan,0,0,0,0.0
Philippines,71,186,1,4.6
Qatar,1,42,7,0.9
South Korea,140,16,9,9.8
Russian Federation,247,326,73,11.5
Saudi Arabia,0,5,0,0.1
Singapore,60,12,11,1.5
Sri Lanka,16,104,0,2.2
Syria,5,35,16,1.0
Tajikistan,2,15,0,0.3
Thailand,99,258,1,6.4
Timor-Leste,1,1,4,0.1
Turkey,51,22,7,1.4
Turkmenistan,19,71,32,2.2
United Arab Emirates,16,135,5,2.8
Uzbekistan,25,101,8,2.4
Vietnam,111,2,1,2.0
Yemen,6,0,0,0.1

In [39]:
data.loc['AS','Afghanistan']

beer_servings                   0.0
spirit_servings                 0.0
wine_servings                   0.0
total_litres_of_pure_alcohol    0.0
Name: (AS, Afghanistan), dtype: float64

In [41]:
data.loc[('AS','Afghanistan')]

beer_servings                   0.0
spirit_servings                 0.0
wine_servings                   0.0
total_litres_of_pure_alcohol    0.0
Name: (AS, Afghanistan), dtype: float64

In [42]:
data.loc[('AS','Afghanistan'),'wine_servings']

0.0

In [43]:
data.iloc[0]

beer_servings                   0.0
spirit_servings                 0.0
wine_servings                   0.0
total_litres_of_pure_alcohol    0.0
Name: (AS, Afghanistan), dtype: float64

In [44]:
data.iloc[1]

beer_servings                    89.0
spirit_servings                 132.0
wine_servings                    54.0
total_litres_of_pure_alcohol      4.9
Name: (EU, Albania), dtype: float64

In [45]:
data.ix[('AS','Afghanistan'),'wine_servings']

C:\Users\PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

0

In [46]:
data.ix[1, 2]

C:\Users\PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

54.0

In [47]:
data.head()

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,country,,,,
AS,Afghanistan,0,0,0,0.0
EU,Albania,89,132,54,4.9
AF,Algeria,25,0,14,0.7
EU,Andorra,245,138,312,12.4
AF,Angola,217,57,45,5.9

# Transposing DataFrame

In [48]:
data.head()

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,country,,,,
AS,Afghanistan,0,0,0,0.0
EU,Albania,89,132,54,4.9
AF,Algeria,25,0,14,0.7
EU,Andorra,245,138,312,12.4
AF,Angola,217,57,45,5.9

In [50]:
data = data.transpose()

In [51]:
data.head()

continent                             AS      EU      AF      EU     AF  \
country                      Afghanistan Albania Algeria Andorra Angola
beer_servings                        0.0    89.0    25.0   245.0  217.0
spirit_servings                      0.0   132.0     0.0   138.0   57.0
wine_servings                        0.0    54.0    14.0   312.0   45.0
total_litres_of_pure_alcohol         0.0     4.9     0.7    12.4    5.9

continent                                  NaN        SA      EU        OC  \
country                      Antigua & Barbuda Argentina Armenia Australia
beer_servings                            102.0     193.0    21.0     261.0
spirit_servings                          128.0      25.0   179.0      72.0
wine_servings                             45.0     221.0    11.0     212.0
total_litres_of_pure_alcohol               4.9       8.3     3.8      10.4

continent                         EU   ...          AF    NaN      SA  \
country                      Austria   ...    Tanzania    USA Uruguay
beer_servings                  279.0   ...        36.0  249.0   115.0
spirit_servings                 75.0   ...         6.0  158.0    35.0
wine_servings                  191.0   ...         1.0   84.0   220.0
total_litres_of_pure_alcohol     9.7   ...         5.7    8.7     6.6

continent                            AS      OC        SA      AS        \
country                      Uzbekistan Vanuatu Venezuela Vietnam Yemen
beer_servings                      25.0    21.0     333.0   111.0   6.0
spirit_servings                   101.0    18.0     100.0     2.0   0.0
wine_servings                       8.0    11.0       3.0     1.0   0.0
total_litres_of_pure_alcohol        2.4     0.9       7.7     2.0   0.1

continent                        AF
country                      Zambia Zimbabwe
beer_servings                  32.0     64.0
spirit_servings                19.0     18.0
wine_servings                   4.0      4.0
total_litres_of_pure_alcohol    2.5      4.7

[4 rows x 193 columns]

In [52]:
data.loc['wine_servings']

continent  country
AS         Afghanistan               0.0
EU         Albania                  54.0
AF         Algeria                  14.0
EU         Andorra                 312.0
AF         Angola                   45.0
NaN        Antigua & Barbuda        45.0
SA         Argentina               221.0
EU         Armenia                  11.0
OC         Australia               212.0
EU         Austria                 191.0
           Azerbaijan                5.0
NaN        Bahamas                  51.0
AS         Bahrain                   7.0
           Bangladesh                0.0
NaN        Barbados                 36.0
EU         Belarus                  42.0
           Belgium                 212.0
NaN        Belize                    8.0
AF         Benin                    13.0
AS         Bhutan                    0.0
SA         Bolivia                   8.0
EU         Bosnia-Herzegovina        8.0
AF         Botswana                 35.0
SA         Brazil                   16.0
AS         Brunei                    1.0
EU         Bulgaria                 94.0
AF         Burkina Faso              7.0
           Burundi                   0.0
           Cote d'Ivoire             7.0
           Cabo Verde               16.0
                                   ...
SA         Suriname                  7.0
AF         Swaziland                 2.0
EU         Sweden                  186.0
           Switzerland             280.0
AS         Syria                    16.0
           Tajikistan                0.0
           Thailand                  1.0
EU         Macedonia                86.0
AS         Timor-Leste               4.0
AF         Togo                     19.0
OC         Tonga                     5.0
NaN        Trinidad & Tobago         7.0
AF         Tunisia                  20.0
AS         Turkey                    7.0
           Turkmenistan             32.0
OC         Tuvalu                    9.0
AF         Uganda                    0.0
EU         Ukraine                  45.0
AS         United Arab Emirates      5.0
EU         United Kingdom          195.0
AF         Tanzania                  1.0
NaN        USA                      84.0
SA         Uruguay                 220.0
AS         Uzbekistan                8.0
OC         Vanuatu                  11.0
SA         Venezuela                 3.0
AS         Vietnam                   1.0
           Yemen                     0.0
AF         Zambia                    4.0
           Zimbabwe                  4.0
Name: wine_servings, Length: 193, dtype: float64

In [53]:
data.loc['wine_servings',('EU','Andorra')]

312.0

In [54]:
data.loc['wine_servings','AS']

country
Afghanistan               0.0
Bahrain                   7.0
Bangladesh                0.0
Bhutan                    0.0
Brunei                    1.0
Cambodia                  1.0
China                     8.0
North Korea               0.0
India                     0.0
Indonesia                 0.0
Iran                      0.0
Iraq                      0.0
Israel                    9.0
Japan                    16.0
Jordan                    1.0
Kazakhstan               12.0
Kuwait                    0.0
Kyrgyzstan                6.0
Laos                    123.0
Lebanon                  31.0
Malaysia                  0.0
Maldives                  0.0
Mongolia                  8.0
Myanmar                   0.0
Nepal                     0.0
Oman                      1.0
Pakistan                  0.0
Philippines               1.0
Qatar                     7.0
South Korea               9.0
Russian Federation       73.0
Saudi Arabia              0.0
Singapore                11.0
Sri Lanka                 0.0
Syria                    16.0
Tajikistan                0.0
Thailand                  1.0
Timor-Leste               4.0
Turkey                    7.0
Turkmenistan             32.0
United Arab Emirates      5.0
Uzbekistan                8.0
Vietnam                   1.0
Yemen                     0.0
Name: wine_servings, dtype: float64

In [56]:
data = data.transpose()

In [57]:
data.head()

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,country,,,,
AS,Afghanistan,0.0,0.0,0.0,0.0
EU,Albania,89.0,132.0,54.0,4.9
AF,Algeria,25.0,0.0,14.0,0.7
EU,Andorra,245.0,138.0,312.0,12.4
AF,Angola,217.0,57.0,45.0,5.9

In [58]:
data.swaplevel()

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
country,continent,,,,
Afghanistan,AS,0.0,0.0,0.0,0.0
Albania,EU,89.0,132.0,54.0,4.9
Algeria,AF,25.0,0.0,14.0,0.7
Andorra,EU,245.0,138.0,312.0,12.4
Angola,AF,217.0,57.0,45.0,5.9
Antigua & Barbuda,NaN,102.0,128.0,45.0,4.9
Argentina,SA,193.0,25.0,221.0,8.3
Armenia,EU,21.0,179.0,11.0,3.8
Australia,OC,261.0,72.0,212.0,10.4
Austria,EU,279.0,75.0,191.0,9.7
Azerbaijan,EU,21.0,46.0,5.0,1.3
Bahamas,NaN,122.0,176.0,51.0,6.3
Bahrain,AS,42.0,63.0,7.0,2.0
Bangladesh,AS,0.0,0.0,0.0,0.0
Barbados,NaN,143.0,173.0,36.0,6.3
Belarus,EU,142.0,373.0,42.0,14.4
Belgium,EU,295.0,84.0,212.0,10.5
Belize,NaN,263.0,114.0,8.0,6.8
Benin,AF,34.0,4.0,13.0,1.1
Bhutan,AS,23.0,0.0,0.0,0.4
Bolivia,SA,167.0,41.0,8.0,3.8
Bosnia-Herzegovina,EU,76.0,173.0,8.0,4.6
Botswana,AF,173.0,35.0,35.0,5.4
Brazil,SA,245.0,145.0,16.0,7.2
Brunei,AS,31.0,2.0,1.0,0.6
Bulgaria,EU,231.0,252.0,94.0,10.3
Burkina Faso,AF,25.0,7.0,7.0,4.3
Burundi,AF,88.0,0.0,0.0,6.3
Cote d'Ivoire,AF,37.0,1.0,7.0,4.0
Cabo Verde,AF,144.0,56.0,16.0,4.0
...,...,...,...,...,...
Suriname,SA,128.0,178.0,7.0,5.6
Swaziland,AF,90.0,2.0,2.0,4.7
Sweden,EU,152.0,60.0,186.0,7.2
Switzerland,EU,185.0,100.0,280.0,10.2
Syria,AS,5.0,35.0,16.0,1.0
Tajikistan,AS,2.0,15.0,0.0,0.3
Thailand,AS,99.0,258.0,1.0,6.4
Macedonia,EU,106.0,27.0,86.0,3.9
Timor-Leste,AS,1.0,1.0,4.0,0.1
Togo,AF,36.0,2.0,19.0,1.3
Tonga,OC,36.0,21.0,5.0,1.1
Trinidad & Tobago,NaN,197.0,156.0,7.0,6.4
Tunisia,AF,51.0,3.0,20.0,1.3
Turkey,AS,51.0,22.0,7.0,1.4
Turkmenistan,AS,19.0,71.0,32.0,2.2
Tuvalu,OC,6.0,41.0,9.0,1.0
Uganda,AF,45.0,9.0,0.0,8.3
Ukraine,EU,206.0,237.0,45.0,8.9
United Arab Emirates,AS,16.0,135.0,5.0,2.8
United Kingdom,EU,219.0,126.0,195.0,10.4
Tanzania,AF,36.0,6.0,1.0,5.7
USA,NaN,249.0,158.0,84.0,8.7
Uruguay,SA,115.0,35.0,220.0,6.6
Uzbekistan,AS,25.0,101.0,8.0,2.4
Vanuatu,OC,21.0,18.0,11.0,0.9
Venezuela,SA,333.0,100.0,3.0,7.7
Vietnam,AS,111.0,2.0,1.0,2.0
Yemen,AS,6.0,0.0,0.0,0.1
Zambia,AF,32.0,19.0,4.0,2.5
Zimbabwe,AF,64.0,18.0,4.0,4.7

# UnStack and Stack Data

In [49]:
import pandas as pd
data = pd.read_csv('drinks.csv', index_col=['country', 'continent'])

In [50]:
data.head()

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
country,continent,,,,
Afghanistan,AS,0,0,0,0.0
Albania,EU,89,132,54,4.9
Algeria,AF,25,0,14,0.7
Andorra,EU,245,138,312,12.4
Angola,AF,217,57,45,5.9

In [52]:
data = data.stack()

In [54]:
data.head()

country      continent
Afghanistan  AS         beer_servings                    0.0
                        spirit_servings                  0.0
                        wine_servings                    0.0
                        total_litres_of_pure_alcohol     0.0
Albania      EU         beer_servings                   89.0
dtype: float64

In [55]:
data.unstack()

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
country,continent,,,,
Afghanistan,AS,0.0,0.0,0.0,0.0
Albania,EU,89.0,132.0,54.0,4.9
Algeria,AF,25.0,0.0,14.0,0.7
Andorra,EU,245.0,138.0,312.0,12.4
Angola,AF,217.0,57.0,45.0,5.9
Antigua & Barbuda,NaN,102.0,128.0,45.0,4.9
Argentina,SA,193.0,25.0,221.0,8.3
Armenia,EU,21.0,179.0,11.0,3.8
Australia,OC,261.0,72.0,212.0,10.4
Austria,EU,279.0,75.0,191.0,9.7
Azerbaijan,EU,21.0,46.0,5.0,1.3
Bahamas,NaN,122.0,176.0,51.0,6.3
Bahrain,AS,42.0,63.0,7.0,2.0
Bangladesh,AS,0.0,0.0,0.0,0.0
Barbados,NaN,143.0,173.0,36.0,6.3
Belarus,EU,142.0,373.0,42.0,14.4
Belgium,EU,295.0,84.0,212.0,10.5
Belize,NaN,263.0,114.0,8.0,6.8
Benin,AF,34.0,4.0,13.0,1.1
Bhutan,AS,23.0,0.0,0.0,0.4
Bolivia,SA,167.0,41.0,8.0,3.8
Bosnia-Herzegovina,EU,76.0,173.0,8.0,4.6
Botswana,AF,173.0,35.0,35.0,5.4
Brazil,SA,245.0,145.0,16.0,7.2
Brunei,AS,31.0,2.0,1.0,0.6
Bulgaria,EU,231.0,252.0,94.0,10.3
Burkina Faso,AF,25.0,7.0,7.0,4.3
Burundi,AF,88.0,0.0,0.0,6.3
Cabo Verde,AF,144.0,56.0,16.0,4.0
Cambodia,AS,57.0,65.0,1.0,2.2
...,...,...,...,...,...
Sudan,AF,8.0,13.0,0.0,1.7
Suriname,SA,128.0,178.0,7.0,5.6
Swaziland,AF,90.0,2.0,2.0,4.7
Sweden,EU,152.0,60.0,186.0,7.2
Switzerland,EU,185.0,100.0,280.0,10.2
Syria,AS,5.0,35.0,16.0,1.0
Tajikistan,AS,2.0,15.0,0.0,0.3
Tanzania,AF,36.0,6.0,1.0,5.7
Thailand,AS,99.0,258.0,1.0,6.4
Timor-Leste,AS,1.0,1.0,4.0,0.1
Togo,AF,36.0,2.0,19.0,1.3
Tonga,OC,36.0,21.0,5.0,1.1
Trinidad & Tobago,NaN,197.0,156.0,7.0,6.4
Tunisia,AF,51.0,3.0,20.0,1.3
Turkey,AS,51.0,22.0,7.0,1.4
Turkmenistan,AS,19.0,71.0,32.0,2.2
Tuvalu,OC,6.0,41.0,9.0,1.0
USA,NaN,249.0,158.0,84.0,8.7
Uganda,AF,45.0,9.0,0.0,8.3
Ukraine,EU,206.0,237.0,45.0,8.9
United Arab Emirates,AS,16.0,135.0,5.0,2.8
United Kingdom,EU,219.0,126.0,195.0,10.4
Uruguay,SA,115.0,35.0,220.0,6.6
Uzbekistan,AS,25.0,101.0,8.0,2.4
Vanuatu,OC,21.0,18.0,11.0,0.9
Venezuela,SA,333.0,100.0,3.0,7.7
Vietnam,AS,111.0,2.0,1.0,2.0
Yemen,AS,6.0,0.0,0.0,0.1
Zambia,AF,32.0,19.0,4.0,2.5
Zimbabwe,AF,64.0,18.0,4.0,4.7

In [56]:
data.unstack(0)

country                                 Afghanistan  Albania  Algeria  \
continent
NaN       beer_servings                         NaN      NaN      NaN
          spirit_servings                       NaN      NaN      NaN
          wine_servings                         NaN      NaN      NaN
          total_litres_of_pure_alcohol          NaN      NaN      NaN
AF        beer_servings                         NaN      NaN     25.0
          spirit_servings                       NaN      NaN      0.0
          wine_servings                         NaN      NaN     14.0
          total_litres_of_pure_alcohol          NaN      NaN      0.7
AS        beer_servings                         0.0      NaN      NaN
          spirit_servings                       0.0      NaN      NaN
          wine_servings                         0.0      NaN      NaN
          total_litres_of_pure_alcohol          0.0      NaN      NaN
EU        beer_servings                         NaN     89.0      NaN
          spirit_servings                       NaN    132.0      NaN
          wine_servings                         NaN     54.0      NaN
          total_litres_of_pure_alcohol          NaN      4.9      NaN
OC        beer_servings                         NaN      NaN      NaN
          spirit_servings                       NaN      NaN      NaN
          wine_servings                         NaN      NaN      NaN
          total_litres_of_pure_alcohol          NaN      NaN      NaN
SA        beer_servings                         NaN      NaN      NaN
          spirit_servings                       NaN      NaN      NaN
          wine_servings                         NaN      NaN      NaN
          total_litres_of_pure_alcohol          NaN      NaN      NaN

country                                 Andorra  Angola  Antigua & Barbuda  \
continent
NaN       beer_servings                     NaN     NaN              102.0
          spirit_servings                   NaN     NaN              128.0
          wine_servings                     NaN     NaN               45.0
          total_litres_of_pure_alcohol      NaN     NaN                4.9
AF        beer_servings                     NaN   217.0                NaN
          spirit_servings                   NaN    57.0                NaN
          wine_servings                     NaN    45.0                NaN
          total_litres_of_pure_alcohol      NaN     5.9                NaN
AS        beer_servings                     NaN     NaN                NaN
          spirit_servings                   NaN     NaN                NaN
          wine_servings                     NaN     NaN                NaN
          total_litres_of_pure_alcohol      NaN     NaN                NaN
EU        beer_servings                   245.0     NaN                NaN
          spirit_servings                 138.0     NaN                NaN
          wine_servings                   312.0     NaN                NaN
          total_litres_of_pure_alcohol     12.4     NaN                NaN
OC        beer_servings                     NaN     NaN                NaN
          spirit_servings                   NaN     NaN                NaN
          wine_servings                     NaN     NaN                NaN
          total_litres_of_pure_alcohol      NaN     NaN                NaN
SA        beer_servings                     NaN     NaN                NaN
          spirit_servings                   NaN     NaN                NaN
          wine_servings                     NaN     NaN                NaN
          total_litres_of_pure_alcohol      NaN     NaN                NaN

country                                 Argentina  Armenia  Australia  \
continent
NaN       beer_servings                       NaN      NaN        NaN
          spirit_servings                     NaN      NaN        NaN
          wine_servings                       NaN      NaN        NaN
          total_litres_of_pure_alcohol        NaN      NaN        NaN
AF        beer_servings                       NaN      NaN        NaN
          spirit_servings                     NaN      NaN        NaN
          wine_servings                       NaN      NaN        NaN
          total_litres_of_pure_alcohol        NaN      NaN        NaN
AS        beer_servings                       NaN      NaN        NaN
          spirit_servings                     NaN      NaN        NaN
          wine_servings                       NaN      NaN        NaN
          total_litres_of_pure_alcohol        NaN      NaN        NaN
EU        beer_servings                       NaN     21.0        NaN
          spirit_servings                     NaN    179.0        NaN
          wine_servings                       NaN     11.0        NaN
          total_litres_of_pure_alcohol        NaN      3.8        NaN
OC        beer_servings                       NaN      NaN      261.0
          spirit_servings                     NaN      NaN       72.0
          wine_servings                       NaN      NaN      212.0
          total_litres_of_pure_alcohol        NaN      NaN       10.4
SA        beer_servings                     193.0      NaN        NaN
          spirit_servings                    25.0      NaN        NaN
          wine_servings                     221.0      NaN        NaN
          total_litres_of_pure_alcohol        8.3      NaN        NaN

country                                 Austria    ...     \
continent                                          ...
NaN       beer_servings                     NaN    ...
          spirit_servings                   NaN    ...
          wine_servings                     NaN    ...
          total_litres_of_pure_alcohol      NaN    ...
AF        beer_servings                     NaN    ...
          spirit_servings                   NaN    ...
          wine_servings                     NaN    ...
          total_litres_of_pure_alcohol      NaN    ...
AS        beer_servings                     NaN    ...
          spirit_servings                   NaN    ...
          wine_servings                     NaN    ...
          total_litres_of_pure_alcohol      NaN    ...
EU        beer_servings                   279.0    ...
          spirit_servings                  75.0    ...
          wine_servings                   191.0    ...
          total_litres_of_pure_alcohol      9.7    ...
OC        beer_servings                     NaN    ...
          spirit_servings                   NaN    ...
          wine_servings                     NaN    ...
          total_litres_of_pure_alcohol      NaN    ...
SA        beer_servings                     NaN    ...
          spirit_servings                   NaN    ...
          wine_servings                     NaN    ...
          total_litres_of_pure_alcohol      NaN    ...

country                                 United Arab Emirates  United Kingdom  \
continent
NaN       beer_servings                                  NaN             NaN
          spirit_servings                                NaN             NaN
          wine_servings                                  NaN             NaN
          total_litres_of_pure_alcohol                   NaN             NaN
AF        beer_servings                                  NaN             NaN
          spirit_servings                                NaN             NaN
          wine_servings                                  NaN             NaN
          total_litres_of_pure_alcohol                   NaN             NaN
AS        beer_servings                                 16.0             NaN
          spirit_servings                              135.0             NaN
          wine_servings                                  5.0             NaN
          total_litres_of_pure_alcohol                   2.8             NaN
EU        beer_servings                                  NaN           219.0
          spirit_servings                                NaN           126.0
          wine_servings                                  NaN           195.0
          total_litres_of_pure_alcohol                   NaN            10.4
OC        beer_servings                                  NaN             NaN
          spirit_servings                                NaN             NaN
          wine_servings                                  NaN             NaN
          total_litres_of_pure_alcohol                   NaN             NaN
SA        beer_servings                                  NaN             NaN
          spirit_servings                                NaN             NaN
          wine_servings                                  NaN             NaN
          total_litres_of_pure_alcohol                   NaN             NaN

country                                 Uruguay  Uzbekistan  Vanuatu  \
continent
NaN       beer_servings                     NaN         NaN      NaN
          spirit_servings                   NaN         NaN      NaN
          wine_servings                     NaN         NaN      NaN
          total_litres_of_pure_alcohol      NaN         NaN      NaN
AF        beer_servings                     NaN         NaN      NaN
          spirit_servings                   NaN         NaN      NaN
          wine_servings                     NaN         NaN      NaN
          total_litres_of_pure_alcohol      NaN         NaN      NaN
AS        beer_servings                     NaN        25.0      NaN
          spirit_servings                   NaN       101.0      NaN
          wine_servings                     NaN         8.0      NaN
          total_litres_of_pure_alcohol      NaN         2.4      NaN
EU        beer_servings                     NaN         NaN      NaN
          spirit_servings                   NaN         NaN      NaN
          wine_servings                     NaN         NaN      NaN
          total_litres_of_pure_alcohol      NaN         NaN      NaN
OC        beer_servings                     NaN         NaN     21.0
          spirit_servings                   NaN         NaN     18.0
          wine_servings                     NaN         NaN     11.0
          total_litres_of_pure_alcohol      NaN         NaN      0.9
SA        beer_servings                   115.0         NaN      NaN
          spirit_servings                  35.0         NaN      NaN
          wine_servings                   220.0         NaN      NaN
          total_litres_of_pure_alcohol      6.6         NaN      NaN

country                                 Venezuela  Vietnam  Yemen  Zambia  \
continent
NaN       beer_servings                       NaN      NaN    NaN     NaN
          spirit_servings                     NaN      NaN    NaN     NaN
          wine_servings                       NaN      NaN    NaN     NaN
          total_litres_of_pure_alcohol        NaN      NaN    NaN     NaN
AF        beer_servings                       NaN      NaN    NaN    32.0
          spirit_servings                     NaN      NaN    NaN    19.0
          wine_servings                       NaN      NaN    NaN     4.0
          total_litres_of_pure_alcohol        NaN      NaN    NaN     2.5
AS        beer_servings                       NaN    111.0    6.0     NaN
          spirit_servings                     NaN      2.0    0.0     NaN
          wine_servings                       NaN      1.0    0.0     NaN
          total_litres_of_pure_alcohol        NaN      2.0    0.1     NaN
EU        beer_servings                       NaN      NaN    NaN     NaN
          spirit_servings                     NaN      NaN    NaN     NaN
          wine_servings                       NaN      NaN    NaN     NaN
          total_litres_of_pure_alcohol        NaN      NaN    NaN     NaN
OC        beer_servings                       NaN      NaN    NaN     NaN
          spirit_servings                     NaN      NaN    NaN     NaN
          wine_servings                       NaN      NaN    NaN     NaN
          total_litres_of_pure_alcohol        NaN      NaN    NaN     NaN
SA        beer_servings                     333.0      NaN    NaN     NaN
          spirit_servings                   100.0      NaN    NaN     NaN
          wine_servings                       3.0      NaN    NaN     NaN
          total_litres_of_pure_alcohol        7.7      NaN    NaN     NaN

country                                 Zimbabwe
continent
NaN       beer_servings                      NaN
          spirit_servings                    NaN
          wine_servings                      NaN
          total_litres_of_pure_alcohol       NaN
AF        beer_servings                     64.0
          spirit_servings                   18.0
          wine_servings                      4.0
          total_litres_of_pure_alcohol       4.7
AS        beer_servings                      NaN
          spirit_servings                    NaN
          wine_servings                      NaN
          total_litres_of_pure_alcohol       NaN
EU        beer_servings                      NaN
          spirit_servings                    NaN
          wine_servings                      NaN
          total_litres_of_pure_alcohol       NaN
OC        beer_servings                      NaN
          spirit_servings                    NaN
          wine_servings                      NaN
          total_litres_of_pure_alcohol       NaN
SA        beer_servings                      NaN
          spirit_servings                    NaN
          wine_servings                      NaN
          total_litres_of_pure_alcohol       NaN

[24 rows x 193 columns]

In [58]:
data.unstack(1).unstack(0)

continent                            NaN                                 \
country                      Afghanistan Albania Algeria Andorra Angola
beer_servings                        NaN     NaN     NaN     NaN    NaN
spirit_servings                      NaN     NaN     NaN     NaN    NaN
wine_servings                        NaN     NaN     NaN     NaN    NaN
total_litres_of_pure_alcohol         NaN     NaN     NaN     NaN    NaN

continent                                                                   \
country                      Antigua & Barbuda Argentina Armenia Australia
beer_servings                            102.0       NaN     NaN       NaN
spirit_servings                          128.0       NaN     NaN       NaN
wine_servings                             45.0       NaN     NaN       NaN
total_litres_of_pure_alcohol               4.9       NaN     NaN       NaN

continent                              ...                      SA  \
country                      Austria   ...    United Arab Emirates
beer_servings                    NaN   ...                     NaN
spirit_servings                  NaN   ...                     NaN
wine_servings                    NaN   ...                     NaN
total_litres_of_pure_alcohol     NaN   ...                     NaN

continent                                                               \
country                      United Kingdom Uruguay Uzbekistan Vanuatu
beer_servings                           NaN   115.0        NaN     NaN
spirit_servings                         NaN    35.0        NaN     NaN
wine_servings                           NaN   220.0        NaN     NaN
total_litres_of_pure_alcohol            NaN     6.6        NaN     NaN

continent
country                      Venezuela Vietnam Yemen Zambia Zimbabwe
beer_servings                    333.0     NaN   NaN    NaN      NaN
spirit_servings                  100.0     NaN   NaN    NaN      NaN
wine_servings                      3.0     NaN   NaN    NaN      NaN
total_litres_of_pure_alcohol       7.7     NaN   NaN    NaN      NaN

[4 rows x 1158 columns]

In [59]:
data.unstack(2)

,,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
country,continent,,,,
Afghanistan,AS,0.0,0.0,0.0,0.0
Albania,EU,89.0,132.0,54.0,4.9
Algeria,AF,25.0,0.0,14.0,0.7
Andorra,EU,245.0,138.0,312.0,12.4
Angola,AF,217.0,57.0,45.0,5.9
Antigua & Barbuda,NaN,102.0,128.0,45.0,4.9
Argentina,SA,193.0,25.0,221.0,8.3
Armenia,EU,21.0,179.0,11.0,3.8
Australia,OC,261.0,72.0,212.0,10.4
Austria,EU,279.0,75.0,191.0,9.7
Azerbaijan,EU,21.0,46.0,5.0,1.3
Bahamas,NaN,122.0,176.0,51.0,6.3
Bahrain,AS,42.0,63.0,7.0,2.0
Bangladesh,AS,0.0,0.0,0.0,0.0
Barbados,NaN,143.0,173.0,36.0,6.3
Belarus,EU,142.0,373.0,42.0,14.4
Belgium,EU,295.0,84.0,212.0,10.5
Belize,NaN,263.0,114.0,8.0,6.8
Benin,AF,34.0,4.0,13.0,1.1
Bhutan,AS,23.0,0.0,0.0,0.4
Bolivia,SA,167.0,41.0,8.0,3.8
Bosnia-Herzegovina,EU,76.0,173.0,8.0,4.6
Botswana,AF,173.0,35.0,35.0,5.4
Brazil,SA,245.0,145.0,16.0,7.2
Brunei,AS,31.0,2.0,1.0,0.6
Bulgaria,EU,231.0,252.0,94.0,10.3
Burkina Faso,AF,25.0,7.0,7.0,4.3
Burundi,AF,88.0,0.0,0.0,6.3
Cabo Verde,AF,144.0,56.0,16.0,4.0
Cambodia,AS,57.0,65.0,1.0,2.2
...,...,...,...,...,...
Sudan,AF,8.0,13.0,0.0,1.7
Suriname,SA,128.0,178.0,7.0,5.6
Swaziland,AF,90.0,2.0,2.0,4.7
Sweden,EU,152.0,60.0,186.0,7.2
Switzerland,EU,185.0,100.0,280.0,10.2
Syria,AS,5.0,35.0,16.0,1.0
Tajikistan,AS,2.0,15.0,0.0,0.3
Tanzania,AF,36.0,6.0,1.0,5.7
Thailand,AS,99.0,258.0,1.0,6.4
Timor-Leste,AS,1.0,1.0,4.0,0.1
Togo,AF,36.0,2.0,19.0,1.3
Tonga,OC,36.0,21.0,5.0,1.1
Trinidad & Tobago,NaN,197.0,156.0,7.0,6.4
Tunisia,AF,51.0,3.0,20.0,1.3
Turkey,AS,51.0,22.0,7.0,1.4
Turkmenistan,AS,19.0,71.0,32.0,2.2
Tuvalu,OC,6.0,41.0,9.0,1.0
USA,NaN,249.0,158.0,84.0,8.7
Uganda,AF,45.0,9.0,0.0,8.3
Ukraine,EU,206.0,237.0,45.0,8.9
United Arab Emirates,AS,16.0,135.0,5.0,2.8
United Kingdom,EU,219.0,126.0,195.0,10.4
Uruguay,SA,115.0,35.0,220.0,6.6
Uzbekistan,AS,25.0,101.0,8.0,2.4
Vanuatu,OC,21.0,18.0,11.0,0.9
Venezuela,SA,333.0,100.0,3.0,7.7
Vietnam,AS,111.0,2.0,1.0,2.0
Yemen,AS,6.0,0.0,0.0,0.1
Zambia,AF,32.0,19.0,4.0,2.5
Zimbabwe,AF,64.0,18.0,4.0,4.7

In [62]:
data.unstack('continent').unstack()

continent                      NaN                                \
                     beer_servings spirit_servings wine_servings
country
Afghanistan                    NaN             NaN           NaN
Albania                        NaN             NaN           NaN
Algeria                        NaN             NaN           NaN
Andorra                        NaN             NaN           NaN
Angola                         NaN             NaN           NaN
Antigua & Barbuda            102.0           128.0          45.0
Argentina                      NaN             NaN           NaN
Armenia                        NaN             NaN           NaN
Australia                      NaN             NaN           NaN
Austria                        NaN             NaN           NaN
Azerbaijan                     NaN             NaN           NaN
Bahamas                      122.0           176.0          51.0
Bahrain                        NaN             NaN           NaN
Bangladesh                     NaN             NaN           NaN
Barbados                     143.0           173.0          36.0
Belarus                        NaN             NaN           NaN
Belgium                        NaN             NaN           NaN
Belize                       263.0           114.0           8.0
Benin                          NaN             NaN           NaN
Bhutan                         NaN             NaN           NaN
Bolivia                        NaN             NaN           NaN
Bosnia-Herzegovina             NaN             NaN           NaN
Botswana                       NaN             NaN           NaN
Brazil                         NaN             NaN           NaN
Brunei                         NaN             NaN           NaN
Bulgaria                       NaN             NaN           NaN
Burkina Faso                   NaN             NaN           NaN
Burundi                        NaN             NaN           NaN
Cabo Verde                     NaN             NaN           NaN
Cambodia                       NaN             NaN           NaN
...                            ...             ...           ...
Sudan                          NaN             NaN           NaN
Suriname                       NaN             NaN           NaN
Swaziland                      NaN             NaN           NaN
Sweden                         NaN             NaN           NaN
Switzerland                    NaN             NaN           NaN
Syria                          NaN             NaN           NaN
Tajikistan                     NaN             NaN           NaN
Tanzania                       NaN             NaN           NaN
Thailand                       NaN             NaN           NaN
Timor-Leste                    NaN             NaN           NaN
Togo                           NaN             NaN           NaN
Tonga                          NaN             NaN           NaN
Trinidad & Tobago            197.0           156.0           7.0
Tunisia                        NaN             NaN           NaN
Turkey                         NaN             NaN           NaN
Turkmenistan                   NaN             NaN           NaN
Tuvalu                         NaN             NaN           NaN
USA                          249.0           158.0          84.0
Uganda                         NaN             NaN           NaN
Ukraine                        NaN             NaN           NaN
United Arab Emirates           NaN             NaN           NaN
United Kingdom                 NaN             NaN           NaN
Uruguay                        NaN             NaN           NaN
Uzbekistan                     NaN             NaN           NaN
Vanuatu                        NaN             NaN           NaN
Venezuela                      NaN             NaN           NaN
Vietnam                        NaN             NaN           NaN
Yemen                          NaN             NaN           NaN
Zambia                         NaN             NaN           NaN
Zimbabwe                       NaN             NaN           NaN

continent                                                    AF  \
                     total_litres_of_pure_alcohol beer_servings
country
Afghanistan                                   NaN           NaN
Albania                                       NaN           NaN
Algeria                                       NaN          25.0
Andorra                                       NaN           NaN
Angola                                        NaN         217.0
Antigua & Barbuda                             4.9           NaN
Argentina                                     NaN           NaN
Armenia                                       NaN           NaN
Australia                                     NaN           NaN
Austria                                       NaN           NaN
Azerbaijan                                    NaN           NaN
Bahamas                                       6.3           NaN
Bahrain                                       NaN           NaN
Bangladesh                                    NaN           NaN
Barbados                                      6.3           NaN
Belarus                                       NaN           NaN
Belgium                                       NaN           NaN
Belize                                        6.8           NaN
Benin                                         NaN          34.0
Bhutan                                        NaN           NaN
Bolivia                                       NaN           NaN
Bosnia-Herzegovina                            NaN           NaN
Botswana                                      NaN         173.0
Brazil                                        NaN           NaN
Brunei                                        NaN           NaN
Bulgaria                                      NaN           NaN
Burkina Faso                                  NaN          25.0
Burundi                                       NaN          88.0
Cabo Verde                                    NaN         144.0
Cambodia                                      NaN           NaN
...                                           ...           ...
Sudan                                         NaN           8.0
Suriname                                      NaN           NaN
Swaziland                                     NaN          90.0
Sweden                                        NaN           NaN
Switzerland                                   NaN           NaN
Syria                                         NaN           NaN
Tajikistan                                    NaN           NaN
Tanzania                                      NaN          36.0
Thailand                                      NaN           NaN
Timor-Leste                                   NaN           NaN
Togo                                          NaN          36.0
Tonga                                         NaN           NaN
Trinidad & Tobago                             6.4           NaN
Tunisia                                       NaN          51.0
Turkey                                        NaN           NaN
Turkmenistan                                  NaN           NaN
Tuvalu                                        NaN           NaN
USA                                           8.7           NaN
Uganda                                        NaN          45.0
Ukraine                                       NaN           NaN
United Arab Emirates                          NaN           NaN
United Kingdom                                NaN           NaN
Uruguay                                       NaN           NaN
Uzbekistan                                    NaN           NaN
Vanuatu                                       NaN           NaN
Venezuela                                     NaN           NaN
Vietnam                                       NaN           NaN
Yemen                                         NaN           NaN
Zambia                                        NaN          32.0
Zimbabwe                                      NaN          64.0

continent                                           \
                     spirit_servings wine_servings
country
Afghanistan                      NaN           NaN
Albania                          NaN           NaN
Algeria                          0.0          14.0
Andorra                          NaN           NaN
Angola                          57.0          45.0
Antigua & Barbuda                NaN           NaN
Argentina                        NaN           NaN
Armenia                          NaN           NaN
Australia                        NaN           NaN
Austria                          NaN           NaN
Azerbaijan                       NaN           NaN
Bahamas                          NaN           NaN
Bahrain                          NaN           NaN
Bangladesh                       NaN           NaN
Barbados                         NaN           NaN
Belarus                          NaN           NaN
Belgium                          NaN           NaN
Belize                           NaN           NaN
Benin                            4.0          13.0
Bhutan                           NaN           NaN
Bolivia                          NaN           NaN
Bosnia-Herzegovina               NaN           NaN
Botswana                        35.0          35.0
Brazil                           NaN           NaN
Brunei                           NaN           NaN
Bulgaria                         NaN           NaN
Burkina Faso                     7.0           7.0
Burundi                          0.0           0.0
Cabo Verde                      56.0          16.0
Cambodia                         NaN           NaN
...                              ...           ...
Sudan                           13.0           0.0
Suriname                         NaN           NaN
Swaziland                        2.0           2.0
Sweden                           NaN           NaN
Switzerland                      NaN           NaN
Syria                            NaN           NaN
Tajikistan                       NaN           NaN
Tanzania                         6.0           1.0
Thailand                         NaN           NaN
Timor-Leste                      NaN           NaN
Togo                             2.0          19.0
Tonga                            NaN           NaN
Trinidad & Tobago                NaN           NaN
Tunisia                          3.0          20.0
Turkey                           NaN           NaN
Turkmenistan                     NaN           NaN
Tuvalu                           NaN           NaN
USA                              NaN           NaN
Uganda                           9.0           0.0
Ukraine                          NaN           NaN
United Arab Emirates             NaN           NaN
United Kingdom                   NaN           NaN
Uruguay                          NaN           NaN
Uzbekistan                       NaN           NaN
Vanuatu                          NaN           NaN
Venezuela                        NaN           NaN
Vietnam                          NaN           NaN
Yemen                            NaN           NaN
Zambia                          19.0           4.0
Zimbabwe                        18.0           4.0

continent                                                    AS  \
                     total_litres_of_pure_alcohol beer_servings
country
Afghanistan                                   NaN           0.0
Albania                                       NaN           NaN
Algeria                                       0.7           NaN
Andorra                                       NaN           NaN
Angola                                        5.9           NaN
Antigua & Barbuda                             NaN           NaN
Argentina                                     NaN           NaN
Armenia                                       NaN           NaN
Australia                                     NaN           NaN
Austria                                       NaN           NaN
Azerbaijan                                    NaN           NaN
Bahamas                                       NaN           NaN
Bahrain                                       NaN          42.0
Bangladesh                                    NaN           0.0
Barbados                                      NaN           NaN
Belarus                                       NaN           NaN
Belgium                                       NaN           NaN
Belize                                        NaN           NaN
Benin                                         1.1           NaN
Bhutan                                        NaN          23.0
Bolivia                                       NaN           NaN
Bosnia-Herzegovina                            NaN           NaN
Botswana                                      5.4           NaN
Brazil                                        NaN           NaN
Brunei                                        NaN          31.0
Bulgaria                                      NaN           NaN
Burkina Faso                                  4.3           NaN
Burundi                                       6.3           NaN
Cabo Verde                                    4.0           NaN
Cambodia                                      NaN          57.0
...                                           ...           ...
Sudan                                         1.7           NaN
Suriname                                      NaN           NaN
Swaziland                                     4.7           NaN
Sweden                                        NaN           NaN
Switzerland                                   NaN           NaN
Syria                                         NaN           5.0
Tajikistan                                    NaN           2.0
Tanzania                                      5.7           NaN
Thailand                                      NaN          99.0
Timor-Leste                                   NaN           1.0
Togo                                          1.3           NaN
Tonga                                         NaN           NaN
Trinidad & Tobago                             NaN           NaN
Tunisia                                       1.3           NaN
Turkey                                        NaN          51.0
Turkmenistan                                  NaN          19.0
Tuvalu                                        NaN           NaN
USA                                           NaN           NaN
Uganda                                        8.3           NaN
Ukraine                                       NaN           NaN
United Arab Emirates                          NaN          16.0
United Kingdom                                NaN           NaN
Uruguay                                       NaN           NaN
Uzbekistan                                    NaN          25.0
Vanuatu                                       NaN           NaN
Venezuela                                     NaN           NaN
Vietnam                                       NaN         111.0
Yemen                                         NaN           6.0
Zambia                                        2.5           NaN
Zimbabwe                                      4.7           NaN

continent                                        ...               \
                     spirit_servings             ...
country                                          ...
Afghanistan                      0.0             ...
Albania                          NaN             ...
Algeria                          NaN             ...
Andorra                          NaN             ...
Angola                           NaN             ...
Antigua & Barbuda                NaN             ...
Argentina                        NaN             ...
Armenia                          NaN             ...
Australia                        NaN             ...
Austria                          NaN             ...
Azerbaijan                       NaN             ...
Bahamas                          NaN             ...
Bahrain                         63.0             ...
Bangladesh                       0.0             ...
Barbados                         NaN             ...
Belarus                          NaN             ...
Belgium                          NaN             ...
Belize                           NaN             ...
Benin                            NaN             ...
Bhutan                           0.0             ...
Bolivia                          NaN             ...
Bosnia-Herzegovina               NaN             ...
Botswana                         NaN             ...
Brazil                           NaN             ...
Brunei                           2.0             ...
Bulgaria                         NaN             ...
Burkina Faso                     NaN             ...
Burundi                          NaN             ...
Cabo Verde                       NaN             ...
Cambodia                        65.0             ...
...                              ...             ...
Sudan                            NaN             ...
Suriname                         NaN             ...
Swaziland                        NaN             ...
Sweden                           NaN             ...
Switzerland                      NaN             ...
Syria                           35.0             ...
Tajikistan                      15.0             ...
Tanzania                         NaN             ...
Thailand                       258.0             ...
Timor-Leste                      1.0             ...
Togo                             NaN             ...
Tonga                            NaN             ...
Trinidad & Tobago                NaN             ...
Tunisia                          NaN             ...
Turkey                          22.0             ...
Turkmenistan                    71.0             ...
Tuvalu                           NaN             ...
USA                              NaN             ...
Uganda                           NaN             ...
Ukraine                          NaN             ...
United Arab Emirates           135.0             ...
United Kingdom                   NaN             ...
Uruguay                          NaN             ...
Uzbekistan                     101.0             ...
Vanuatu                          NaN             ...
Venezuela                        NaN             ...
Vietnam                          2.0             ...
Yemen                            0.0             ...
Zambia                           NaN             ...
Zimbabwe                         NaN             ...

continent                       EU                                         OC  \
                     wine_servings total_litres_of_pure_alcohol beer_servings
country
Afghanistan                    NaN                          NaN           NaN
Albania                       54.0                          4.9           NaN
Algeria                        NaN                          NaN           NaN
Andorra                      312.0                         12.4           NaN
Angola                         NaN                          NaN           NaN
Antigua & Barbuda              NaN                          NaN           NaN
Argentina                      NaN                          NaN           NaN
Armenia                       11.0                          3.8           NaN
Australia                      NaN                          NaN         261.0
Austria                      191.0                          9.7           NaN
Azerbaijan                     5.0                          1.3           NaN
Bahamas                        NaN                          NaN           NaN

# Pivot and Pivot_table Method

In [65]:
data = pd.read_csv('drinks.csv')

In [66]:
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [69]:
data.pivot(index='country', columns='continent', values=['spirit_servings'])

                     spirit_servings
continent                        NaN    AF     AS     EU    OC     SA
country
Afghanistan                      NaN   NaN    0.0    NaN   NaN    NaN
Albania                          NaN   NaN    NaN  132.0   NaN    NaN
Algeria                          NaN   0.0    NaN    NaN   NaN    NaN
Andorra                          NaN   NaN    NaN  138.0   NaN    NaN
Angola                           NaN  57.0    NaN    NaN   NaN    NaN
Antigua & Barbuda              128.0   NaN    NaN    NaN   NaN    NaN
Argentina                        NaN   NaN    NaN    NaN   NaN   25.0
Armenia                          NaN   NaN    NaN  179.0   NaN    NaN
Australia                        NaN   NaN    NaN    NaN  72.0    NaN
Austria                          NaN   NaN    NaN   75.0   NaN    NaN
Azerbaijan                       NaN   NaN    NaN   46.0   NaN    NaN
Bahamas                        176.0   NaN    NaN    NaN   NaN    NaN
Bahrain                          NaN   NaN   63.0    NaN   NaN    NaN
Bangladesh                       NaN   NaN    0.0    NaN   NaN    NaN
Barbados                       173.0   NaN    NaN    NaN   NaN    NaN
Belarus                          NaN   NaN    NaN  373.0   NaN    NaN
Belgium                          NaN   NaN    NaN   84.0   NaN    NaN
Belize                         114.0   NaN    NaN    NaN   NaN    NaN
Benin                            NaN   4.0    NaN    NaN   NaN    NaN
Bhutan                           NaN   NaN    0.0    NaN   NaN    NaN
Bolivia                          NaN   NaN    NaN    NaN   NaN   41.0
Bosnia-Herzegovina               NaN   NaN    NaN  173.0   NaN    NaN
Botswana                         NaN  35.0    NaN    NaN   NaN    NaN
Brazil                           NaN   NaN    NaN    NaN   NaN  145.0
Brunei                           NaN   NaN    2.0    NaN   NaN    NaN
Bulgaria                         NaN   NaN    NaN  252.0   NaN    NaN
Burkina Faso                     NaN   7.0    NaN    NaN   NaN    NaN
Burundi                          NaN   0.0    NaN    NaN   NaN    NaN
Cabo Verde                       NaN  56.0    NaN    NaN   NaN    NaN
Cambodia                         NaN   NaN   65.0    NaN   NaN    NaN
...                              ...   ...    ...    ...   ...    ...
Sudan                            NaN  13.0    NaN    NaN   NaN    NaN
Suriname                         NaN   NaN    NaN    NaN   NaN  178.0
Swaziland                        NaN   2.0    NaN    NaN   NaN    NaN
Sweden                           NaN   NaN    NaN   60.0   NaN    NaN
Switzerland                      NaN   NaN    NaN  100.0   NaN    NaN
Syria                            NaN   NaN   35.0    NaN   NaN    NaN
Tajikistan                       NaN   NaN   15.0    NaN   NaN    NaN
Tanzania                         NaN   6.0    NaN    NaN   NaN    NaN
Thailand                         NaN   NaN  258.0    NaN   NaN    NaN
Timor-Leste                      NaN   NaN    1.0    NaN   NaN    NaN
Togo                             NaN   2.0    NaN    NaN   NaN    NaN
Tonga                            NaN   NaN    NaN    NaN  21.0    NaN
Trinidad & Tobago              156.0   NaN    NaN    NaN   NaN    NaN
Tunisia                          NaN   3.0    NaN    NaN   NaN    NaN
Turkey                           NaN   NaN   22.0    NaN   NaN    NaN
Turkmenistan                     NaN   NaN   71.0    NaN   NaN    NaN
Tuvalu                           NaN   NaN    NaN    NaN  41.0    NaN
USA                            158.0   NaN    NaN    NaN   NaN    NaN
Uganda                           NaN   9.0    NaN    NaN   NaN    NaN
Ukraine                          NaN   NaN    NaN  237.0   NaN    NaN
United Arab Emirates             NaN   NaN  135.0    NaN   NaN    NaN
United Kingdom                   NaN   NaN    NaN  126.0   NaN    NaN
Uruguay                          NaN   NaN    NaN    NaN   NaN   35.0
Uzbekistan                       NaN   NaN  101.0    NaN   NaN    NaN
Vanuatu                          NaN   NaN    NaN    NaN  18.0    NaN
Venezuela                        NaN   NaN    NaN    NaN   NaN  100.0
Vietnam                          NaN   NaN    2.0    NaN   NaN    NaN
Yemen                            NaN   NaN    0.0    NaN   NaN    NaN
Zambia                           NaN  19.0    NaN    NaN   NaN    NaN
Zimbabwe                         NaN  18.0    NaN    NaN   NaN    NaN

[193 rows x 6 columns]

In [70]:
data.pivot(index='country', columns='continent', values=['spirit_servings','beer_servings'])

                     spirit_servings                                   \
continent                        NaN    AF     AS     EU    OC     SA
country
Afghanistan                      NaN   NaN    0.0    NaN   NaN    NaN
Albania                          NaN   NaN    NaN  132.0   NaN    NaN
Algeria                          NaN   0.0    NaN    NaN   NaN    NaN
Andorra                          NaN   NaN    NaN  138.0   NaN    NaN
Angola                           NaN  57.0    NaN    NaN   NaN    NaN
Antigua & Barbuda              128.0   NaN    NaN    NaN   NaN    NaN
Argentina                        NaN   NaN    NaN    NaN   NaN   25.0
Armenia                          NaN   NaN    NaN  179.0   NaN    NaN
Australia                        NaN   NaN    NaN    NaN  72.0    NaN
Austria                          NaN   NaN    NaN   75.0   NaN    NaN
Azerbaijan                       NaN   NaN    NaN   46.0   NaN    NaN
Bahamas                        176.0   NaN    NaN    NaN   NaN    NaN
Bahrain                          NaN   NaN   63.0    NaN   NaN    NaN
Bangladesh                       NaN   NaN    0.0    NaN   NaN    NaN
Barbados                       173.0   NaN    NaN    NaN   NaN    NaN
Belarus                          NaN   NaN    NaN  373.0   NaN    NaN
Belgium                          NaN   NaN    NaN   84.0   NaN    NaN
Belize                         114.0   NaN    NaN    NaN   NaN    NaN
Benin                            NaN   4.0    NaN    NaN   NaN    NaN
Bhutan                           NaN   NaN    0.0    NaN   NaN    NaN
Bolivia                          NaN   NaN    NaN    NaN   NaN   41.0
Bosnia-Herzegovina               NaN   NaN    NaN  173.0   NaN    NaN
Botswana                         NaN  35.0    NaN    NaN   NaN    NaN
Brazil                           NaN   NaN    NaN    NaN   NaN  145.0
Brunei                           NaN   NaN    2.0    NaN   NaN    NaN
Bulgaria                         NaN   NaN    NaN  252.0   NaN    NaN
Burkina Faso                     NaN   7.0    NaN    NaN   NaN    NaN
Burundi                          NaN   0.0    NaN    NaN   NaN    NaN
Cabo Verde                       NaN  56.0    NaN    NaN   NaN    NaN
Cambodia                         NaN   NaN   65.0    NaN   NaN    NaN
...                              ...   ...    ...    ...   ...    ...
Sudan                            NaN  13.0    NaN    NaN   NaN    NaN
Suriname                         NaN   NaN    NaN    NaN   NaN  178.0
Swaziland                        NaN   2.0    NaN    NaN   NaN    NaN
Sweden                           NaN   NaN    NaN   60.0   NaN    NaN
Switzerland                      NaN   NaN    NaN  100.0   NaN    NaN
Syria                            NaN   NaN   35.0    NaN   NaN    NaN
Tajikistan                       NaN   NaN   15.0    NaN   NaN    NaN
Tanzania                         NaN   6.0    NaN    NaN   NaN    NaN
Thailand                         NaN   NaN  258.0    NaN   NaN    NaN
Timor-Leste                      NaN   NaN    1.0    NaN   NaN    NaN
Togo                             NaN   2.0    NaN    NaN   NaN    NaN
Tonga                            NaN   NaN    NaN    NaN  21.0    NaN
Trinidad & Tobago              156.0   NaN    NaN    NaN   NaN    NaN
Tunisia                          NaN   3.0    NaN    NaN   NaN    NaN
Turkey                           NaN   NaN   22.0    NaN   NaN    NaN
Turkmenistan                     NaN   NaN   71.0    NaN   NaN    NaN
Tuvalu                           NaN   NaN    NaN    NaN  41.0    NaN
USA                            158.0   NaN    NaN    NaN   NaN    NaN
Uganda                           NaN   9.0    NaN    NaN   NaN    NaN
Ukraine                          NaN   NaN    NaN  237.0   NaN    NaN
United Arab Emirates             NaN   NaN  135.0    NaN   NaN    NaN
United Kingdom                   NaN   NaN    NaN  126.0   NaN    NaN
Uruguay                          NaN   NaN    NaN    NaN   NaN   35.0
Uzbekistan                       NaN   NaN  101.0    NaN   NaN    NaN
Vanuatu                          NaN   NaN    NaN    NaN  18.0    NaN
Venezuela                        NaN   NaN    NaN    NaN   NaN  100.0
Vietnam                          NaN   NaN    2.0    NaN   NaN    NaN
Yemen                            NaN   NaN    0.0    NaN   NaN    NaN
Zambia                           NaN  19.0    NaN    NaN   NaN    NaN
Zimbabwe                         NaN  18.0    NaN    NaN   NaN    NaN

                     beer_servings
continent                      NaN     AF     AS     EU     OC     SA
country
Afghanistan                    NaN    NaN    0.0    NaN    NaN    NaN
Albania                        NaN    NaN    NaN   89.0    NaN    NaN
Algeria                        NaN   25.0    NaN    NaN    NaN    NaN
Andorra                        NaN    NaN    NaN  245.0    NaN    NaN
Angola                         NaN  217.0    NaN    NaN    NaN    NaN
Antigua & Barbuda            102.0    NaN    NaN    NaN    NaN    NaN
Argentina                      NaN    NaN    NaN    NaN    NaN  193.0
Armenia                        NaN    NaN    NaN   21.0    NaN    NaN
Australia                      NaN    NaN    NaN    NaN  261.0    NaN
Austria                        NaN    NaN    NaN  279.0    NaN    NaN
Azerbaijan                     NaN    NaN    NaN   21.0    NaN    NaN
Bahamas                      122.0    NaN    NaN    NaN    NaN    NaN
Bahrain                        NaN    NaN   42.0    NaN    NaN    NaN
Bangladesh                     NaN    NaN    0.0    NaN    NaN    NaN
Barbados                     143.0    NaN    NaN    NaN    NaN    NaN
Belarus                        NaN    NaN    NaN  142.0    NaN    NaN
Belgium                        NaN    NaN    NaN  295.0    NaN    NaN
Belize                       263.0    NaN    NaN    NaN    NaN    NaN
Benin                          NaN   34.0    NaN    NaN    NaN    NaN
Bhutan                         NaN    NaN   23.0    NaN    NaN    NaN
Bolivia                        NaN    NaN    NaN    NaN    NaN  167.0
Bosnia-Herzegovina             NaN    NaN    NaN   76.0    NaN    NaN
Botswana                       NaN  173.0    NaN    NaN    NaN    NaN
Brazil                         NaN    NaN    NaN    NaN    NaN  245.0
Brunei                         NaN    NaN   31.0    NaN    NaN    NaN
Bulgaria                       NaN    NaN    NaN  231.0    NaN    NaN
Burkina Faso                   NaN   25.0    NaN    NaN    NaN    NaN
Burundi                        NaN   88.0    NaN    NaN    NaN    NaN
Cabo Verde                     NaN  144.0    NaN    NaN    NaN    NaN
Cambodia                       NaN    NaN   57.0    NaN    NaN    NaN
...                            ...    ...    ...    ...    ...    ...
Sudan                          NaN    8.0    NaN    NaN    NaN    NaN
Suriname                       NaN    NaN    NaN    NaN    NaN  128.0
Swaziland                      NaN   90.0    NaN    NaN    NaN    NaN
Sweden                         NaN    NaN    NaN  152.0    NaN    NaN
Switzerland                    NaN    NaN    NaN  185.0    NaN    NaN
Syria                          NaN    NaN    5.0    NaN    NaN    NaN
Tajikistan                     NaN    NaN    2.0    NaN    NaN    NaN
Tanzania                       NaN   36.0    NaN    NaN    NaN    NaN
Thailand                       NaN    NaN   99.0    NaN    NaN    NaN
Timor-Leste                    NaN    NaN    1.0    NaN    NaN    NaN
Togo                           NaN   36.0    NaN    NaN    NaN    NaN
Tonga                          NaN    NaN    NaN    NaN   36.0    NaN
Trinidad & Tobago            197.0    NaN    NaN    NaN    NaN    NaN
Tunisia                        NaN   51.0    NaN    NaN    NaN    NaN
Turkey                         NaN    NaN   51.0    NaN    NaN    NaN
Turkmenistan                   NaN    NaN   19.0    NaN    NaN    NaN
Tuvalu                         NaN    NaN    NaN    NaN    6.0    NaN
USA                          249.0    NaN    NaN    NaN    NaN    NaN
Uganda                         NaN   45.0    NaN    NaN    NaN    NaN
Ukraine                        NaN    NaN    NaN  206.0    NaN    NaN
United Arab Emirates           NaN    NaN   16.0    NaN    NaN    NaN
United Kingdom                 NaN    NaN    NaN  219.0    NaN    NaN
Uruguay                        NaN    NaN    NaN    NaN    NaN  115.0
Uzbekistan                     NaN    NaN   25.0    NaN    NaN    NaN
Vanuatu                        NaN    NaN    NaN    NaN   21.0    NaN
Venezuela                      NaN    NaN    NaN    NaN    NaN  333.0
Vietnam                        NaN    NaN  111.0    NaN    NaN    NaN
Yemen                          NaN    NaN    6.0    NaN    NaN    NaN
Zambia                         NaN   32.0    NaN    NaN    NaN    NaN
Zimbabwe                       NaN   64.0    NaN    NaN    NaN    NaN

[193 rows x 12 columns]

In [73]:
data.pivot_table(index='continent', values=['spirit_servings','beer_servings'], aggfunc='mean')

           beer_servings  spirit_servings
continent
AF             61.471698        16.339623
AS             37.045455        60.840909
EU            193.777778       132.555556
OC             89.687500        58.437500
SA            175.083333       114.750000

In [74]:
data.pivot_table(index='country', values=['spirit_servings','beer_servings'], aggfunc='mean')

                      beer_servings  spirit_servings
country
Afghanistan                       0                0
Albania                          89              132
Algeria                          25                0
Andorra                         245              138
Angola                          217               57
Antigua & Barbuda               102              128
Argentina                       193               25
Armenia                          21              179
Australia                       261               72
Austria                         279               75
Azerbaijan                       21               46
Bahamas                         122              176
Bahrain                          42               63
Bangladesh                        0                0
Barbados                        143              173
Belarus                         142              373
Belgium                         295               84
Belize                          263              114
Benin                            34                4
Bhutan                           23                0
Bolivia                         167               41
Bosnia-Herzegovina               76              173
Botswana                        173               35
Brazil                          245              145
Brunei                           31                2
Bulgaria                        231              252
Burkina Faso                     25                7
Burundi                          88                0
Cabo Verde                      144               56
Cambodia                         57               65
...                             ...              ...
Sudan                             8               13
Suriname                        128              178
Swaziland                        90                2
Sweden                          152               60
Switzerland                     185              100
Syria                             5               35
Tajikistan                        2               15
Tanzania                         36                6
Thailand                         99              258
Timor-Leste                       1                1
Togo                             36                2
Tonga                            36               21
Trinidad & Tobago               197              156
Tunisia                          51                3
Turkey                           51               22
Turkmenistan                     19               71
Tuvalu                            6               41
USA                             249              158
Uganda                           45                9
Ukraine                         206              237
United Arab Emirates             16              135
United Kingdom                  219              126
Uruguay                         115               35
Uzbekistan                       25              101
Vanuatu                          21               18
Venezuela                       333              100
Vietnam                         111                2
Yemen                             6                0
Zambia                           32               19
Zimbabwe                         64               18

[193 rows x 2 columns]