# Pandas Series

In [1]:
import pandas as pd

# Create Series  - I

In [2]:
lst = [2, 67, 34, 32]

pd.Series(lst)

0     2
1    67
2    34
3    32
dtype: int64

In [3]:
lst_bool = [True, True, False, True]
pd.Series(lst_bool)

0     True
1     True
2    False
3     True
dtype: bool

In [4]:
lst_mix = ['I am in list', True, 23, 67, 23.6]
pd.Series(lst_mix)

0    I am in list
1            True
2              23
3              67
4            23.6
dtype: object

In [5]:
pd.Series(5, index=[0])

0    5
dtype: int64

In [6]:
pd.Series(5, index=[0, 1 , 2, 3, 4])

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [8]:
pd.Series([num*10 for num in range(10)])

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [7]:
[num*10 for num in range(10)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [9]:
myphonebook = {"John" : "555-555-5555",
               "Alice" : "123-236-5263",
               "Bob" : "963-852-1470"}

pd.Series(myphonebook)

John     555-555-5555
Alice    123-236-5263
Bob      963-852-1470
dtype: object

# Create Series  - II

In [10]:
pd.read_csv('random1.csv')

   67.72003252
0     6.217307
1    37.743532
2    37.556650
3    32.792233
4    51.034497
5    57.462068
6     9.021376
7    93.856161
8    95.177522

In [11]:
type(pd.read_csv('random1.csv'))

pandas.core.frame.DataFrame

In [12]:
pd.read_csv('random1.csv', header=None)

           0
0  67.720033
1   6.217307
2  37.743532
3  37.556650
4  32.792233
5  51.034497
6  57.462068
7   9.021376
8  93.856161
9  95.177522

In [16]:
pd.read_csv('random1.csv', header=None, squeeze=True)

0    67.720033
1     6.217307
2    37.743532
3    37.556650
4    32.792233
5    51.034497
6    57.462068
7     9.021376
8    93.856161
9    95.177522
Name: 0, dtype: float64

In [17]:
s = pd.read_csv('random1.csv', header=None, squeeze=True)

In [18]:
type(s)

pandas.core.series.Series

In [24]:
s1 =  pd.read_csv('Stock.csv', squeeze=True, usecols=['Open'])

In [25]:
type(s1)

pandas.core.series.Series

# Series Attributes & Methods

In [2]:
s =  pd.read_csv('Stock.csv', squeeze=True, usecols=['Open'])

In [27]:
s

0     16.770000
1     17.100000
2     17.059999
3     16.900000
4     16.969999
5     16.240000
6     16.389999
7     16.549999
8     15.990000
9     15.770000
10    16.389999
11    16.330000
12    16.340000
13    16.240000
14    16.469999
15    16.790001
16    17.100000
17    17.299999
18    16.299999
19    16.459999
Name: Open, dtype: float64

In [28]:
s.index

RangeIndex(start=0, stop=20, step=1)

In [29]:
s.values

array([16.77    , 17.1     , 17.059999, 16.9     , 16.969999, 16.24    ,
       16.389999, 16.549999, 15.99    , 15.77    , 16.389999, 16.33    ,
       16.34    , 16.24    , 16.469999, 16.790001, 17.1     , 17.299999,
       16.299999, 16.459999])

In [30]:
s.dtype

dtype('float64')

In [31]:
s.ndim

1

In [32]:
s.size

20

In [33]:
s.is_unique

False

In [34]:
s.is_monotonic_increasing

False

In [35]:
s

0     16.770000
1     17.100000
2     17.059999
3     16.900000
4     16.969999
5     16.240000
6     16.389999
7     16.549999
8     15.990000
9     15.770000
10    16.389999
11    16.330000
12    16.340000
13    16.240000
14    16.469999
15    16.790001
16    17.100000
17    17.299999
18    16.299999
19    16.459999
Name: Open, dtype: float64

In [36]:
s.add_prefix('Panda')

Panda0     16.770000
Panda1     17.100000
Panda2     17.059999
Panda3     16.900000
Panda4     16.969999
Panda5     16.240000
Panda6     16.389999
Panda7     16.549999
Panda8     15.990000
Panda9     15.770000
Panda10    16.389999
Panda11    16.330000
Panda12    16.340000
Panda13    16.240000
Panda14    16.469999
Panda15    16.790001
Panda16    17.100000
Panda17    17.299999
Panda18    16.299999
Panda19    16.459999
Name: Open, dtype: float64

In [37]:
s.add_suffix('Panda')

0Panda     16.770000
1Panda     17.100000
2Panda     17.059999
3Panda     16.900000
4Panda     16.969999
5Panda     16.240000
6Panda     16.389999
7Panda     16.549999
8Panda     15.990000
9Panda     15.770000
10Panda    16.389999
11Panda    16.330000
12Panda    16.340000
13Panda    16.240000
14Panda    16.469999
15Panda    16.790001
16Panda    17.100000
17Panda    17.299999
18Panda    16.299999
19Panda    16.459999
Name: Open, dtype: float64

In [38]:
s.sum()

331.459992

In [39]:
s

0     16.770000
1     17.100000
2     17.059999
3     16.900000
4     16.969999
5     16.240000
6     16.389999
7     16.549999
8     15.990000
9     15.770000
10    16.389999
11    16.330000
12    16.340000
13    16.240000
14    16.469999
15    16.790001
16    17.100000
17    17.299999
18    16.299999
19    16.459999
Name: Open, dtype: float64

In [42]:
s.idxmax()

17

In [43]:
max(s)

17.299999

In [44]:
s.idxmin()

9

In [46]:
shead = s.head()

In [47]:
shead

0    16.770000
1    17.100000
2    17.059999
3    16.900000
4    16.969999
Name: Open, dtype: float64

In [48]:
s.tail()

15    16.790001
16    17.100000
17    17.299999
18    16.299999
19    16.459999
Name: Open, dtype: float64

In [49]:
s.head(2)

0    16.77
1    17.10
Name: Open, dtype: float64

In [50]:
s.tail(10)

10    16.389999
11    16.330000
12    16.340000
13    16.240000
14    16.469999
15    16.790001
16    17.100000
17    17.299999
18    16.299999
19    16.459999
Name: Open, dtype: float64

In [51]:
s.mean()

16.572999600000003

In [52]:
s.product()

2.4295555370482454e+24

In [53]:
s.std()

0.4076130110008758

In [54]:
s.shape

(20,)

In [55]:
s.describe()

count    20.000000
mean     16.573000
std       0.407613
min      15.770000
25%      16.322500
50%      16.464999
75%      16.917500
max      17.299999
Name: Open, dtype: float64

# Label Indexing

In [56]:
temperature = [30, 31, 32, 33, 34, 32, 30, 31, 29, 33, 34, 32]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

In [57]:
pd.Series(temperature)

0     30
1     31
2     32
3     33
4     34
5     32
6     30
7     31
8     29
9     33
10    34
11    32
dtype: int64

In [58]:
pd.Series(temperature, months)

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [59]:
pd.Series(data=temperature, index=months)

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [62]:
pd.Series(index=months, data=temperature)

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [64]:
s = pd.Series(index=months, data=temperature)

In [65]:
type(s)

pandas.core.series.Series

In [66]:
s.index

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object')

# sort_value, sort_index, Inplace parameter

In [2]:
temperature = [30, 31, 32, 33, 34, 32, 30, 31, 29, 33, 34, 32]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
s1 = pd.Series(temperature, months)

In [3]:
s1

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [4]:
s1.sort_values()

Sep    29
Jan    30
Jul    30
Feb    31
Aug    31
Mar    32
Jun    32
Dec    32
Apr    33
Oct    33
May    34
Nov    34
dtype: int64

In [5]:
s1.sort_values(ascending=False)

Nov    34
May    34
Oct    33
Apr    33
Dec    32
Jun    32
Mar    32
Aug    31
Feb    31
Jul    30
Jan    30
Sep    29
dtype: int64

In [6]:
s1

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [ ]:
s1 = s1.sort_values()

In [7]:
s1

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [8]:
s1.sort_values(inplace=True)

In [9]:
s1

Sep    29
Jan    30
Jul    30
Feb    31
Aug    31
Mar    32
Jun    32
Dec    32
Apr    33
Oct    33
May    34
Nov    34
dtype: int64

In [10]:
s1.index

Index(['Sep', 'Jan', 'Jul', 'Feb', 'Aug', 'Mar', 'Jun', 'Dec', 'Apr', 'Oct',
       'May', 'Nov'],
      dtype='object')

In [11]:
s1.sort_index()

Apr    33
Aug    31
Dec    32
Feb    31
Jan    30
Jul    30
Jun    32
Mar    32
May    34
Nov    34
Oct    33
Sep    29
dtype: int64

In [12]:
s1.sort_index(ascending=False)

Sep    29
Oct    33
Nov    34
May    34
Mar    32
Jun    32
Jul    30
Jan    30
Feb    31
Dec    32
Aug    31
Apr    33
dtype: int64

In [13]:
s1

Sep    29
Jan    30
Jul    30
Feb    31
Aug    31
Mar    32
Jun    32
Dec    32
Apr    33
Oct    33
May    34
Nov    34
dtype: int64

In [14]:
s1.sort_index(inplace=True)

In [16]:
s1

Apr    33
Aug    31
Dec    32
Feb    31
Jan    30
Jul    30
Jun    32
Mar    32
May    34
Nov    34
Oct    33
Sep    29
dtype: int64

# Apply Python built in Function on Series

In [17]:
temperature = [30, 31, 32, 33, 34, 32, 30, 31, 29, 33, 34, 32]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
s1 = pd.Series(temperature, months)

In [18]:
s1

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [19]:
len(s1)

12

In [20]:
type(s1)

pandas.core.series.Series

In [21]:
list(s1)

[30, 31, 32, 33, 34, 32, 30, 31, 29, 33, 34, 32]

In [22]:
dict(s1)

{'Jan': 30,
 'Feb': 31,
 'Mar': 32,
 'Apr': 33,
 'May': 34,
 'Jun': 32,
 'Jul': 30,
 'Aug': 31,
 'Sep': 29,
 'Oct': 33,
 'Nov': 34,
 'Dec': 32}

In [23]:
sorted(s1)

[29, 30, 30, 31, 31, 32, 32, 32, 33, 33, 34, 34]

In [24]:
max(s1)

34

In [25]:
min(s1)

29

# Extract Value from Series

In [26]:
temperature = [30, 31, 32, 33, 34, 32, 30, 31, 29, 33, 34, 32]
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
s1 = pd.Series(temperature, months)

In [30]:
s1

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [31]:
s1[0]

30

In [32]:
s1[5]

32

In [33]:
s1[2:9]

Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
dtype: int64

In [34]:
s1

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [35]:
s1[[3,5,9]]

Apr    33
Jun    32
Oct    33
dtype: int64

In [36]:
s1[-1]

32

In [37]:
s1[-2]

34

In [38]:
s1[-5:-2]

Aug    31
Sep    29
Oct    33
dtype: int64

In [39]:
s1

Jan    30
Feb    31
Mar    32
Apr    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [40]:
s1['Aug']

31

In [41]:
s1[['May','Nov','Dec']]

May    34
Nov    34
Dec    32
dtype: int64

# .value_counts() Method

In [53]:
s1 = pd.Series(['Male', 'Female','Male','Female', 'Female', 'Female','Male','Female','Male','Female','Male','Female', 'Female', 'Female', 'Female','Male','Male','Male','Female','Male','Male','Female'])

In [54]:
s1

0       Male
1     Female
2       Male
3     Female
4     Female
5     Female
6       Male
7     Female
8       Male
9     Female
10      Male
11    Female
12    Female
13    Female
14    Female
15      Male
16      Male
17      Male
18    Female
19      Male
20      Male
21    Female
dtype: object

In [56]:
s1.nunique()

2

In [57]:
s1.value_counts()

Female    12
Male      10
dtype: int64

# .apply() and .map() method

In [64]:
temperature = [30, 31, 32, 33, 34, 32, 30, 31, 29, 33, 34, 32]
months = ["|Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
s1 = pd.Series(temperature, months)

In [65]:
s1

|Jan    30
Feb     31
Mar     32
Apr     33
May     34
Jun     32
Jul     30
Aug     31
Sep     29
Oct     33
Nov     34
Dec     32
dtype: int64

In [ ]:
F = C * 1.8 + 32

In [66]:
def convertTemp(C):
    return ((C * 1.8) + 32)

In [67]:
s1

|Jan    30
Feb     31
Mar     32
Apr     33
May     34
Jun     32
Jul     30
Aug     31
Sep     29
Oct     33
Nov     34
Dec     32
dtype: int64

In [68]:
s1.apply(convertTemp)

|Jan    86.0
Feb     87.8
Mar     89.6
Apr     91.4
May     93.2
Jun     89.6
Jul     86.0
Aug     87.8
Sep     84.2
Oct     91.4
Nov     93.2
Dec     89.6
dtype: float64

In [69]:
s1

|Jan    30
Feb     31
Mar     32
Apr     33
May     34
Jun     32
Jul     30
Aug     31
Sep     29
Oct     33
Nov     34
Dec     32
dtype: int64

In [70]:
s1

|Jan    30
Feb     31
Mar     32
Apr     33
May     34
Jun     32
Jul     30
Aug     31
Sep     29
Oct     33
Nov     34
Dec     32
dtype: int64

In [71]:
mapobj = {30 : 300, 31 : 310, 32 : 40, 34 : 100}

In [72]:
s1.map(mapobj)

|Jan    300.0
Feb     310.0
Mar      40.0
Apr       NaN
May     100.0
Jun      40.0
Jul     300.0
Aug     310.0
Sep       NaN
Oct       NaN
Nov     100.0
Dec      40.0
dtype: float64

In [73]:
s1

|Jan    30
Feb     31
Mar     32
Apr     33
May     34
Jun     32
Jul     30
Aug     31
Sep     29
Oct     33
Nov     34
Dec     32
dtype: int64