In [1]:
import os
import pandas as pd

In [11]:
# CSV's are a popular data source I can use
df = pd.read_csv("./data/supermarkets.csv")

In [4]:
df.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df.shape

(6, 7)

In [7]:
# Json is the second type of data I can import
df2 = pd.read_json("./data/supermarkets.json")

In [10]:
df2.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [12]:
# I can load xlsx files aswell
df3 = pd.read_excel("./data/supermarkets.xlsx",sheetname=0)

In [14]:
df3.set_index("ID")

,Address,City,State,Country,Supermarket Name,Number of Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [17]:
# I can also read txt files
df4 = pd.read_csv("./data/supermarkets-commas.txt", index_col="ID")

In [18]:
df4

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [20]:
# I can load a txt that is not comma seperated 
df5 = pd.read_csv("./data/supermarkets-semi-colons.txt",sep=";",index_col="ID")

In [21]:
df5

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

### Manipulating Data Frames

In [24]:
# integer based location indexing 
df5.iloc[1:3,1:3]

             City             State
ID
2   San Francisco          CA 94119
3   San Francisco  California 94114

In [26]:
# search by a combination of indexes and labels
df5.ix[3,"Name"]

' Super River'

In [34]:
# index based on label based name indexing
by_name =df5.set_index("Name")

In [33]:
# use loc and search for a named index
by_name.loc["Sanchez"]

Address      1056 Sanchez St
City           San Francisco
State             California
Country                  USA
Employees                 12
Name: Sanchez, dtype: object

In [36]:
# Search by all name indexes for number of employees 
by_name.loc[:,"Employees"]

Name
Madeira          8
Bready Shop     15
 Super River    25
Ben's Shop      10
Sanchez         12
Richvalley      20
Name: Employees, dtype: int64

#### Deleting columns from a dataFrame

In [37]:
# use the drop methods with a 0 for row, and 1 for columns
by_name.drop("State",1)

                      Address           City Country  Employees
Name
Madeira          3666 21st St  San Francisco     USA          8
Bready Shop    735 Dolores St  San Francisco     USA         15
 Super River      332 Hill St  San Francisco     USA         25
Ben's Shop       3995 23rd St  San Francisco     USA         10
Sanchez       1056 Sanchez St  San Francisco     USA         12
Richvalley    551 Alvarado St  San Francisco     USA         20

In [46]:
# Drop by specified columns
by_name.drop(by_name.columns[1:4],1)

                      Address  Employees
Name
Madeira          3666 21st St          8
Bready Shop    735 Dolores St         15
 Super River      332 Hill St         25
Ben's Shop       3995 23rd St         10
Sanchez       1056 Sanchez St         12
Richvalley    551 Alvarado St         20

In [49]:
# i can add a new value to all row in my dataFrame as such"
# adding a new column is an inplace operation and mutates the original data
by_name["Continent"]="North America"

In [48]:
by_name

,Address,City,State,Country,Employees,Continent
Name,,,,,,
Madeira,3666 21st St,San Francisco,CA 94114,USA,8,North America
Bready Shop,735 Dolores St,San Francisco,CA 94119,USA,15,North America
Super River,332 Hill St,San Francisco,California 94114,USA,25,North America
Ben's Shop,3995 23rd St,San Francisco,CA 94114,USA,10,North America
Sanchez,1056 Sanchez St,San Francisco,California,USA,12,North America
Richvalley,551 Alvarado St,San Francisco,CA 94114,USA,20,North America

In [51]:
from geopy.geocoders import ArcGIS

In [54]:
nom = ArcGIS()

In [59]:
by_name.loc["Madeira", ["Address","City","State"]]

Address     3666 21st St
City       San Francisco
State           CA 94114
Name: Madeira, dtype: object

In [61]:
long_lat = nom.geocode(by_name.loc["Madeira", ["Address","City","State"]])